@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  flex-wrap: wrap; /* 在小螢幕上自動換行 */
  background-color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  max-width: 100%;
  max-height: 100%;
}

input[type=checkbox] {
  transform: scale(2); /* 調整 scale 值來放大或縮小 */
  cursor: pointer;
}

.Quotation-div {
  display: none;
  /* 初始為隱藏 */
  position: fixed;
  border: 3px solid #000;
  padding: 5px;
  background-color: #f9f9f9;
  top: 50%;
  /* 垂直居中 */
  left: 50%;
  /* 水平居中 */
  transform: translate(-50%, -50%);
  /* 向上和向左移動50%自己的寬度和高度 */
  width: 595px;
  height: 842px;
  z-index: 1000;
  /* 確保它顯示在其他元素之上 */
  overflow: auto; /* 啟用滾動條 */
}
.Quotation-div .watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0.15;
  pointer-events: none;
}

.visible {
  display: block;
  /* 顯示 */
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #900;
}

.quotationheader {
  text-align: center;
  padding: 6px;
  color: white;
}
.quotationheader h1 {
  font-size: 22px;
  color: #000;
}
.quotationheader h2 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.quotationSub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quotationSub .quotation-client-container {
  display: flex;
  align-items: center;
  padding: 3px;
}
.quotationSub .quotation-client-container label {
  font-size: 15px;
  font-weight: 700;
}
.quotationSub .quotation-client-container input {
  padding: 4px 0 1px 0;
  background-color: inherit;
  /* 背景色與外層一致 */
  border: 0px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}
.quotationSub .quotationTime {
  font-size: 14px;
  font-weight: 600;
  padding: 3px 0 3px 0;
}

.quotationtable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
  border: 2px solid black;
}
.quotationtable th,
.quotationtable td {
  border: 2px solid black;
  padding: 4px;
  text-align: left;
}
.quotationtable th {
  background-color: #f5f5f5;
}
.quotationtable table {
  border: 1px solid black;
}
.quotationtable td.orgtd {
  padding: 0px;
}

@keyframes blink {
  0% {
    background-color: red;
  }
  /* 紅色 */
  16% {
    background-color: orange;
  }
  /* 橙色 */
  32% {
    background-color: yellow;
  }
  /* 黃色 */
  48% {
    background-color: green;
  }
  /* 綠色 */
  68% {
    background-color: blue;
  }
  /* 藍色 */
  84% {
    background-color: Indigo;
  }
  /* 靛色 */
  100% {
    background-color: purple;
  }
  /* 紫色 */
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    /* 讓文字和圖片向左對齊 */
    max-width: 1000px;
    position: relative;
  }
  .leftcontent {
    width: 60%;
    /* 讓文字和圖片在小螢幕上都佔滿寬度 */
  }
  .rightcontent {
    width: 40%;
    /* 讓文字和圖片在小螢幕上都佔滿寬度 */
  }
}
html,
body {
  height: auto;
  width: 100%;
  overflow: hidden;
  /* 隱藏整個頁面的滾動條 */
}

.totalPrice {
  position: fixed;
  /* 固定在視窗 */
  top: 10px;
  /* 距離視窗頂部 20px */
  right: 10px;
  /* 距離視窗右側 20px */
  background-color: #ffffff;
  /* 背景色 */
  padding: 10px 20px;
  border: 1px solid #ccc;
  /* 邊框 */
  border-radius: 8px;
  /* 圓角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* 陰影 */
  font-size: 40px;
  /* 字體大小 */
  font-weight: 900;
  /* 字體加粗 */
  text-align: center;
  /* 文字置中 */
  color: #333;
  /* 文字顏色 */
}

.container {
  padding: 10px;
  background-color: #ffd76b;
  position: absolute;
  height: auto;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  min-height: 1500px;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: row;
}

.leftcontent {
  width: 60%;
  height: 100%;
}

.rightcontent {
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  /* 讓內容垂直排列 */
  justify-content: center;
  /* 垂直置中 */
  align-items: center;
  /* 水平置中 */
  height: 100%;
  /* 讓 rightcontent 充滿父容器 */
  position: relative;
  /* 確保內容能正確對齊 */
}
.rightcontent .imgblock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* 圖片水平置中 */
  align-items: center;
  /* 圖片垂直置中 */
}
.rightcontent #ProductImage {
  max-width: 80%;
  max-height: 80%;
  padding: 15px;
}

.nowprice {
  text-align: center;
  align-items: center;
}
.nowprice .dollar {
  text-align: center;
  align-items: center;
}

.btndiv {
  display: flex;
  flex-direction: column;
}
.btndiv .btnallcheckboxfalse {
  margin: 0 0 4px 0;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* 平滑過渡動畫 */
}
.btndiv .btnallcheckboxfalse:hover {
  animation: blink 0.8s infinite alternate;
  /* 閃爍動畫 */
  transform: scale(1.5);
  /* 放大 */
}
.btndiv .btnoutputQuotation {
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* 平滑過渡動畫 */
}
.btndiv .btnoutputQuotation:hover {
  background-color: #ff5733;
  /* 變色 */
  transform: scale(1.5);
  /* 放大 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* 增加陰影 */
}

#printButton {
  visibility: hidden;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 20px;
  width: 100px;
  font-weight: 800;
  border-radius: 8px;
}

#printPDFButton {
  visibility: hidden;
  position: fixed;
  right: 120px;
  bottom: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 20px;
  width: 150px;
  font-weight: 800;
  border-radius: 8px;
}

.Title {
  margin: 10px;
  font-weight: 800;
  /*設定字體粗細*/
  font-size: 32px;
  /* 設定字體大小 */
  cursor: default;
}

.checklist {
  width: 100%;
  overflow-y: auto;
  /* 允許垂直滾動 */
  scroll-behavior: smooth;
  max-height: 900px;
  /* 設定高度 */
  overflow-x: hidden;
  /* 禁止水平滾動 */
  padding-right: 1px;
  /* 增加左側間距 */
}

/* 修改滾動條寬度 */
.checklist::-webkit-scrollbar {
  width: 4px;
  /* 調整滾動條寬度 */
}

/* 滾動條軌道（背景） */
.checklist::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 淺灰色背景 */
  border-radius: 8px;
  /* 圓角 */
}

/* 滾動條滑塊 */
.checklist::-webkit-scrollbar-thumb {
  background: #888;
  /* 深灰色滑塊 */
  border-radius: 10px;
  /* 圓角 */
}

/* 滑鼠懸停時變色 */
.checklist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.target {
  display: flex;
}
.target .target_img {
  width: auto;
  height: 42px;
  cursor: default;
  position: relative;
  display: inline-block;
}
.target .target_img::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: transparent;
}
.target .target_img img {
  width: 40px;
}
.target .subtitle {
  display: flex;
  /* 使用 Flexbox */
  width: 99%;
  /* 設定寬度 */
  border-radius: 8px;
  /* 設定圓角半徑 */
  padding: 6px;
  /* 內邊距 */
  margin: 3px;
  text-align: left;
  background-color: #000000;
  /* 黑色背景 */
  color: #ffffff;
  /* 白色文字 */
  font-size: 18px;
  /* 設定字體大小 */
  font-weight: 600;
  /*設定字體粗細*/
  align-items: center;
  /* 垂直置中 */
  cursor: pointer;
}
.target .subtitle_2 {
  font-size: 12px;
  font-weight: 700;
  color: red;
}
.target .pricecontent {
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  width: auto;
  white-space: nowrap;
  /* 禁止自動換行 */
}
.target .pricecontent .pricing {
  display: flex;
  /* 使用 Flexbox */
  width: 100%;
  /* 設定寬度 */
  height: auto;
  /* 設定高度 */
  border-radius: 8px;
  /* 設定圓角半徑 */
  padding: 6px;
  /* 內邊距 */
  margin: 3px 0px 3px 0px;
  text-align: center;
  /* 文字置中 */
  background-color: rgba(54, 52, 52, 0.8823529412);
  /* 黑色背景 */
  color: #ffffff;
  /* 白色文字 */
  font-size: 18px;
  /* 設定字體大小 */
  font-weight: 600;
  /*設定字體粗細*/
  align-items: center;
  /* 垂直置中 */
  justify-content: center;
  /* 水平置中 */
  display: none;
}
.target .pricecontent .nowprice {
  /* 使用 Flexbox */
  display: none;
}

.car-order {
  margin: 0 0 8px 0;
}
.car-order .chkcontent_1st {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.car-order .chkcontent_1st .car_color {
  visibility: hidden;
  height: 0;
}
.car-order .chkcontent_1st .car_color .chkblock {
  display: flex;
  align-items: center;
  /* 垂直置中 */
  justify-content: center;
  /* 水平置中 */
  margin: 0 0 0 8px;
  flex: 0.5;
}
.car-order .chkcontent_1st .car_color .cherry_red {
  display: flex;
  /* 設置為 Flexbox */
  justify-content: space-between;
  /* 在主軸上均勻分布 */
  min-width: 19.2%;
  border: 2px solid #E50046;
  /* 設定邊框寬度和顏色 */
  border-radius: 10px;
  /* 設定圓角半徑 */
  margin: 3px;
  /*外邊距*/
  padding: 0 0 0 6px;
  /* 內邊距 */
  align-items: center;
  /* 垂直置中 */
}
.car-order .chkcontent_1st .car_color .cherry_red .chkblock input[type=checkbox] {
  accent-color: #E50046;
}
.car-order .chkcontent_1st .car_color .cherry_red .red_car {
  flex: 1.5;
  /* 前兩個 div 佔用較多的空間 */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  /*設定字體粗細*/
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.car-order .chkcontent_1st .car_color .cherry_red .img_red {
  border-radius: 0 8px 8px 0;
  /* 只設定右上及右下圓角半徑 */
  max-width: 100%;
  max-height: 100%;
  background-color: #ffd76b;
  /* 將圖片內顏色變回基底色再去生成需要的顏色*/
  flex: 1;
  /* 最後一個 div 寬度為前面的一半 */
  border-left: 50px solid transparent;
  /* 三角形右側的透明邊 */
  border-bottom: 50px solid #E50046;
  /* 將上邊邊框設為白色，形成朝上的三角形 */
}
.car-order .chkcontent_1st .car_color .pearl_orange {
  display: flex;
  /* 設置為 Flexbox */
  justify-content: space-between;
  /* 在主軸上均勻分布 */
  min-width: 19.2%;
  border: 2px solid #EE7500;
  /* 設定邊框寬度和顏色 */
  border-radius: 10px;
  /* 設定圓角半徑 */
  margin: 3px;
  /*外邊距*/
  padding: 0 0 0 6px;
  /* 內邊距 */
  align-items: center;
  /* 垂直置中 */
}
.car-order .chkcontent_1st .car_color .pearl_orange .chkblock input[type=checkbox] {
  accent-color: #EE7500;
}
.car-order .chkcontent_1st .car_color .pearl_orange .orange_car {
  flex: 1.5;
  /* 前兩個 div 佔用較多的空間 */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  /*設定字體粗細*/
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.car-order .chkcontent_1st .car_color .pearl_orange .img_orange {
  border-radius: 0 8px 8px 0;
  /* 只設定右上及右下圓角半徑 */
  width: 100%;
  height: 100%;
  background-color: #ffd76b;
  /* 將圖片內顏色變回基底色再去生成需要的顏色*/
  flex: 1;
  /* 最後一個 div 寬度為前面的一半 */
  border-left: 50px solid transparent;
  /* 三角形右側的透明邊 */
  border-bottom: 50px solid #EE7500;
  /* 將上邊邊框設為白色，形成朝上的三角形 */
}
.car-order .chkcontent_1st .car_color .rose_gold {
  display: flex;
  /* 設置為 Flexbox */
  justify-content: space-between;
  /* 在主軸上均勻分布 */
  min-width: 19.2%;
  border: 2px solid #F3AECC;
  /* 設定邊框寬度和顏色 */
  border-radius: 10px;
  /* 設定圓角半徑 */
  margin: 3px;
  /*外邊距*/
  padding: 0 0 0 6px;
  /* 內邊距 */
  align-items: center;
  /* 垂直置中 */
}
.car-order .chkcontent_1st .car_color .rose_gold .chkblock input[type=checkbox] {
  accent-color: #F3AECC;
}
.car-order .chkcontent_1st .car_color .rose_gold .pink_car {
  flex: 1.5;
  /* 前兩個 div 佔用較多的空間 */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  /*設定字體粗細*/
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.car-order .chkcontent_1st .car_color .rose_gold .img_pink {
  border-radius: 0 8px 8px 0;
  /* 只設定右上及右下圓角半徑 */
  width: 100%;
  height: 100%;
  background-color: #ffd76b;
  /* 將圖片內顏色變回基底色再去生成需要的顏色*/
  flex: 1;
  /* 最後一個 div 寬度為前面的一半 */
  border-left: 50px solid transparent;
  /* 三角形右側的透明邊 */
  border-bottom: 50px solid #F3AECC;
  /* 將上邊邊框設為白色，形成朝上的三角形 */
}
.car-order .chkcontent_1st .car_color .sky_blue {
  display: flex;
  /* 設置為 Flexbox */
  justify-content: space-between;
  /* 在主軸上均勻分布 */
  min-width: 19.2%;
  border: 2px solid #2EA7E0;
  /* 設定邊框寬度和顏色 */
  border-radius: 10px;
  /* 設定圓角半徑 */
  margin: 3px;
  /*外邊距*/
  padding: 0 0 0 6px;
  /* 內邊距 */
  align-items: center;
  /* 垂直置中 */
}
.car-order .chkcontent_1st .car_color .sky_blue .chkblock input[type=checkbox] {
  accent-color: #2EA7E0;
}
.car-order .chkcontent_1st .car_color .sky_blue .blue_car {
  flex: 1.5;
  /* 前兩個 div 佔用較多的空間 */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  /*設定字體粗細*/
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.car-order .chkcontent_1st .car_color .sky_blue .img_blue {
  border-radius: 0 8px 8px 0;
  /* 只設定右上及右下圓角半徑 */
  width: 100%;
  height: 100%;
  background-color: #ffd76b;
  /* 將圖片內顏色變回基底色再去生成需要的顏色*/
  flex: 1;
  /* 最後一個 div 寬度為前面的一半 */
  border-left: 50px solid transparent;
  /* 三角形右側的透明邊 */
  border-bottom: 50px solid #2EA7E0;
  /* 將上邊邊框設為白色，形成朝上的三角形 */
}
.car-order .chkcontent_1st .car_color .camo_gray {
  display: flex;
  /* 設置為 Flexbox */
  justify-content: space-between;
  /* 在主軸上均勻分布 */
  min-width: 19.2%;
  border: 2px solid #666666;
  /* 設定邊框寬度和顏色 */
  border-radius: 10px;
  /* 設定圓角半徑 */
  margin: 3px;
  /*外邊距*/
  padding: 0 0 0 6px;
  /* 內邊距 */
  align-items: center;
  /* 垂直置中 */
}
.car-order .chkcontent_1st .car_color .camo_gray .chkblock input[type=checkbox] {
  accent-color: #666666;
}
.car-order .chkcontent_1st .car_color .camo_gray .gray_car {
  flex: 1.5;
  /* 前兩個 div 佔用較多的空間 */
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  /*設定字體粗細*/
  padding: 8px 0px 8px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.car-order .chkcontent_1st .car_color .camo_gray .img_gray {
  border-radius: 0 8px 8px 0;
  /* 只設定右上及右下圓角半徑 */
  width: 100%;
  height: 100%;
  background-color: #ffd76b;
  /* 將圖片內顏色變回基底色再去生成需要的顏色*/
  flex: 1;
  /* 最後一個 div 寬度為前面的一半 */
  border-left: 50px solid transparent;
  /* 三角形右側的透明邊 */
  border-bottom: 50px solid #666666;
  /* 將上邊邊框設為白色，形成朝上的三角形 */
}

.car-seat {
  margin: 0 0 8px 0;
}
.car-seat .chkcontent_2nd {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}
.car-seat .chkcontent_2nd .basesize {
  visibility: hidden;
  height: 0;
  justify-content: flex-start;
}
.car-seat .chkcontent_2nd .Seat-widthgroup {
  display: flex;
  width: 100%;
  height: 77px;
  border-bottom: 3px dashed black;
}
.car-seat .chkcontent_2nd .Seat-widthgroup .seat-width {
  background-color: rgb(31, 30, 30);
  color: #ffffff;
  text-align: center;
  /* 文字置中 */
  border: 2px solid black;
  /* 設定邊框寬度和顏色 */
  border-radius: 8px;
  /* 設定圓角半徑 */
  font-weight: 500;
  height: 65px;
}
.car-seat .chkcontent_2nd .Seat-deepgroup {
  display: flex;
  padding: 11px 2px 0px 0px;
  width: 100%;
}
.car-seat .chkcontent_2nd .Seat-deepgroup .seat-deep {
  background-color: rgb(31, 30, 30);
  color: #ffffff;
  text-align: center;
  /* 文字置中 */
  border: 2px solid black;
  /* 設定邊框寬度和顏色 */
  border-radius: 8px;
  /* 設定圓角半徑 */
  font-weight: 500;
  height: 65px;
}

.width_cmCount {
  display: flex;
  margin: 0 0 2px 2px;
  padding: 2px;
  flex-direction: column;
}
.width_cmCount .width_number {
  display: flex;
  height: 40%;
  flex-direction: row;
  /* 水平排列新增的 div */
  align-items: center;
  /* 水平置中 */
}
.width_cmCount .width_number .generated_SWdiv {
  margin: 5px 9px 5px 9px;
  padding: 10px 11px 10px 11px;
  font-weight: 500;
  border-radius: 8px;
  /* 設定圓角半徑 */
  text-align: center;
  /* 文字置中 */
  align-items: center;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.width_cmCount .width_chkblock {
  height: 50%;
  display: flex;
  align-items: center;
  /* 水平置中 */
}
.width_cmCount .width_chkblock #SWC_checkbox {
  margin: 10px 23px 0px 22px;
  border-radius: 8px;
  /* 設定圓角半徑 */
  transform: scale(2.2);
}

.deep_cmCount {
  display: flex;
  margin: 0 0 2px 2px;
  padding: 2px 2px 0 2px;
  flex-direction: column;
}
.deep_cmCount .deep_number {
  display: flex;
  height: 40%;
  flex-direction: row;
  /* 水平排列新增的 div */
  align-items: center;
  /* 水平置中 */
}
.deep_cmCount .deep_number .generated_Sddiv {
  margin: 5px 9px 5px 9px;
  padding: 10px 11px 10px 11px;
  font-weight: 500;
  border-radius: 8px;
  /* 設定圓角半徑 */
  text-align: center;
  /* 文字置中 */
  align-items: center;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.deep_cmCount .deep_chkblock {
  height: 50%;
  display: flex;
  align-items: center;
  /* 水平置中 */
}
.deep_cmCount .deep_chkblock #SdC_checkbox {
  margin: 10px 23px 0px 22px;
  border-radius: 8px;
  /* 設定圓角半徑 */
  transform: scale(2.2);
}

.smallblock {
  width: 60px;
  /* 設定寬度 */
  height: 50px;
  /* 設定高度 */
  background-color: #000000;
  /* 黑色背景 */
  color: #ffffff;
  /* 白色文字 */
}

.car-tripod {
  margin: 0 0 8px 0;
}
.car-tripod .chkcontent_3rd {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-tripod .chkcontent_3rd .tripodgroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-tripod .chkcontent_3rd .tripodgroup .degrees {
  flex-grow: 1;
  /* 平均分配空間 */
  text-align: center;
  /* 文字置中 */
  padding: 5px;
  /* 內邊距 */
  box-sizing: border-box;
  /* 包含 padding 和 border */
  font-size: 20px;
  font-weight: 600;
}
.car-tripod .chkcontent_3rd .tripodgroup .degrees input[name=car_tripod] {
  margin: 3px;
}

.car-footpedal {
  margin: 0 0 8px 0;
}
.car-footpedal .chkcontent_4th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-footpedal .chkcontent_4th .footpedalgroup {
  visibility: hidden;
  height: 0;
}
.car-footpedal .chkcontent_4th .footpedal_twopiece {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 2px 0 1px 0;
  padding: 2px;
}
.car-footpedal .chkcontent_4th .footpedal_twopiece .twopiece_anglefixed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-footpedal .chkcontent_4th .footpedal_twopiece .twopiece_angleadjust {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-footpedal .chkcontent_4th .footpedal_piecealuminum {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 1px 0 1px 0;
  padding: 2px;
}
.car-footpedal .chkcontent_4th .footpedal_Plugin {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 1px 0 1px 0;
  padding: 2px;
}
.car-footpedal .chkcontent_4th .footpedal_plumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 1px 0 2px 0;
  padding: 2px;
}

.div_type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 0 2px 0 2px;
}

.div_twopiece_angle {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 2px 0 0;
  padding: 1px;
}
.div_twopiece_angle .twopiece_anglefixed {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
}
.div_twopiece_angle .twopiece_angleadjust {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
}

.div_angle {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.div_angleadjust {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  width: 30%;
  height: 100%;
}

.div_pedalsize {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* 子元素平均分配高度 */
  border: 1px solid black;
  /* 添加邊框便於查看效果 */
  display: flex;
  /* 子元素內部內容置中 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.pedalcmcmgroup {
  display: flex;
  flex-direction: column;
  width: 34.5%;
  margin: 0 3px 1px 1px;
}
.pedalcmcmgroup .pedalcm {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 1px 0 1px 0;
  padding: 2px;
}

.div_pedalsize {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 2px 0 2px 0;
  padding: 2px;
}

.div_pedal_direction {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 3px 1px 1px;
}
.div_pedal_direction .div_direction {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 2px 0 2px 0;
  padding: 2px;
}

.footpedal_checkbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
  flex: 1;
  padding: 1px 0 0 0;
}

.footpedal_checkbox2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
}

.footpedal_checkbox3 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
}

.footpedal_checkbox4 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
}

.footpedal_checkbox1 input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 9px 2px 8px 2px;
}

.footpedal_checkbox2 input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 8.5px 2px 10px 2px;
}

.footpedal_checkbox3 input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 2px 9px 2px;
}

.footpedal_checkbox4 input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 2px 9px 2px;
}

.car-head_supports {
  margin: 0 0 8px 0;
}
.car-head_supports .chkcontent_5th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-head_supports .chkcontent_5th .head_supportsgroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_font {
  width: 40%;
  margin: 3px 0 2px 2px;
  padding: 3px;
  font-weight: 600;
  font-size: 20px;
}
.car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_size {
  width: 30%;
  margin: 3px 0 2px 2px;
  padding: 3px;
  font-weight: 600;
  font-size: 20px;
}
.car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_checkbox {
  width: 5%;
  margin: 4px 4px 0 2px;
  padding: 8px;
}

.car-back_supports {
  margin: 0 0 8px 0;
}
.car-back_supports .chkcontent_6th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup {
  display: flex;
  flex-direction: row;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .Nova_back_hardware_title {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_sizegroup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 3px 1px 1px;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_sizegroup .back_size {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  padding: 2px;
}
.car-back_supports .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_supports_checkbox {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: 0px 6px 0px 6px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.back_supports_checkbox input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 7.9px 0px 13.1px 0px;
}

.car-latertrunk_supports {
  margin: 0 0 8px 0;
}
.car-latertrunk_supports .chkcontent_7th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup {
  display: flex;
  flex-direction: row;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .Novalateralhardware_title {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizegroup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2px 0 2px 0;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizegroup .side_size {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 17px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 100%;
  padding: 3px 1px 3px;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup {
  height: 45%;
  margin: 2px 1px 0 2px;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup .side_SLR1 {
  border: 1px solid #000000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 48%;
  margin: 1px 0 3px 0;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup .side_SLR2 {
  border: 1px solid #000000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 48%;
  margin: 2px 0 1px 0;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup {
  height: 45%;
  margin: 4px 0 1px 2px;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup .side_MLR1 {
  border: 1px solid #000000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 48%;
  margin: 2px 0 3px 0;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup .side_MLR2 {
  border: 1px solid #000000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 48%;
  margin: 3px 0 1px 0;
}
.car-latertrunk_supports .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .latertrunk_checkboxes {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: 0px 6px 0px 6px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.latertrunk_checkboxes input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 10px 3px 9.5px 3px;
}

.div_notice {
  border-top: 2px solid black;
  margin: 2px 0 1px 0;
  padding: 2px 0 1px 1px;
  font-size: 15px;
  font-weight: 600;
  background: #bebebe;
}

.car-seatbase {
  margin: 0 0 8px 0;
}
.car-seatbase .chkcontent_8th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-seatbase .chkcontent_8th .seatbasegroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-seatbase .chkcontent_8th .seatbasegroup .seat_supportsgroup {
  display: flex;
  flex-direction: row;
}
.car-seatbase .chkcontent_8th .seatbasegroup .seat_supportsgroup .Nova_seatbase_title {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-seatbase .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_sizegroup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 3px 1px 1px;
}
.car-seatbase .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_sizegroup .seatbase_size {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  padding: 2px;
}
.car-seatbase .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_checkbox {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: 0px 6px 0px 6px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.seatbase_checkbox input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 7.9px 0px 13.1px 0px;
}

.car-cushion {
  margin: 0 0 8px 0;
}
.car-cushion .chkcontent_9th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-cushion .chkcontent_9th .cushiongroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-cushion .chkcontent_9th .cushiongroup .Nova_cushiontitle {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-cushion .chkcontent_9th .cushiongroup .cushiongroup_typegroup {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 3px 1px 1px;
  height: 100%;
}
.car-cushion .chkcontent_9th .cushiongroup .cushiongroup_typegroup .cushion_type {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 16px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 100%;
  padding: 2px;
}
.car-cushion .chkcontent_9th .cushiongroup .cushiongroup_typegroup .cushion_typeC {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 垂直置中 */
  font-size: 16px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: 100%;
  padding: 2px;
}
.car-cushion .chkcontent_9th .cushiongroup .cushion_checkbox {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: 2px 5px 0px 6px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.cushion_checkbox input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 8px 0px 11px 0px;
}

.car-bandage {
  margin: 0 0 8px 0;
}
.car-bandage .chkcontent_10th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.car-bandage .chkcontent_10th .bandagegroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup {
  display: flex;
  flex-direction: column;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup {
  display: flex;
  flex-direction: row;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps_title {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .chest_straps_font {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .chest_straps_font_2 {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
  width: 80%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size .chest_straps_font_2s {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size .chest_straps_font_2b {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps_checkbox {
  display: flex;
  flex-direction: column;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup {
  display: flex;
  flex-direction: row;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt_title {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .standard_pelvic_belt {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
  width: 80%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size .pointpelvic_belt_fonts {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size .pointpelvic_belt_fontb {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt_checkbox {
  display: flex;
  flex-direction: column;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup {
  display: flex;
  flex-direction: row;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup .calf_band {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup .calfbandchk {
  margin: 0 5px 0 5px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup {
  display: flex;
  flex-direction: row;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup .calf_cuff {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup .calfcuffchk {
  margin: 0 5px 0 5px;
}
.car-bandage .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_font {
  border: 1px solid #000000;
  border-radius: 7px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  width: 60%;
  padding: 2px 1px 1px 3px;
  margin: 3px;
}

.chest_straps_checkbox input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 8px;
}

.pelvic_belt_checkbox input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 8px;
}

.calf_bandgroup input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 8px;
}

.calf_cuffgroup input[type=checkbox] {
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 8px;
}

.Spex_area {
  width: 98.3%;
  /* 設定寬度 */
  height: auto;
  /* 設定高度 */
  background: linear-gradient(to right, #cb1a21, #bf1966);
  /* 左邊深紅 -> 右邊淺紅 */
  display: flex;
  /* 讓圖片置中 */
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  /* 圓角 */
  padding: 2px 0 0 0;
  margin: 30px 0 8px 12px;
}

.Spex_area img {
  max-width: 15%;
}

.Spex_cushion {
  margin: 0 0 8px 0;
}
.Spex_cushion .chkcontent_11th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title {
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  margin: 2px 1px;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title .SpexCushion {
  margin: 12px 16px;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size {
  display: flex;
  flex-direction: column;
  /* 讓子元素橫向排列 */
  align-items: center;
  /* 垂直置中 */
  width: 55%;
  /* 設定寬度 */
  margin: 1px 1px 1px 3px;
  border: 1px solid #000000;
  border-radius: 8px;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  /* 對齊到底部 */
  width: 100%;
  height: 50%;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 6px;
  justify-content: center;
  margin: 0 5px 0 150px;
  /* 設定左側下拉選單 */
  /* 設定右側下拉選單 */
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Width {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  /* 設定文字置中 */
  width: 40%;
  /* 填滿寬度，讓選項顯示在中間 */
  display: inline-block;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Width .Spexcushion_Width option {
  text-align: center;
  /* 讓選項中的文字置中 */
  background-color: #e0e0e0;
  color: #000000;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH div {
  font-size: 18px;
  font-weight: 800;
  margin: 4px;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Heigh {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  width: 40%;
  /* 填滿寬度，讓選項顯示在中間 */
  display: inline-block;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Heigh .Spexcushion_Heigh option {
  text-align: center;
  /* 讓選項中的文字置中 */
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_color {
  padding: 3px;
  margin: 2px 2px 2px 2px;
  font-size: 15px;
  width: 25%;
  text-align: center;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_color .Spexcushion_colorsel {
  width: 50%;
  border-radius: 6px;
  text-align: center;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_color .Spexcushion_colorsel .Spexcushion_colorsel option {
  text-align: center;
  /* 讓選項中的文字置中 */
  background-color: #e0e0e0;
  color: #333;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  /* 設定元素之間的間距 */
  width: 100%;
  height: 50%;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize .Spexcushion_specialsizenotice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 75%;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize .Spexcushion_specialsizenotice div {
  font-size: 18px;
  font-weight: 800;
  margin: 4px;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize input[type=text] {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  /* 灰白色 */
  color: #333;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize input[type=text]:focus {
  background-color: #fff;
  /* 當獲得焦點時變白色 */
  border-color: #007bff;
  /* 獲得焦點時邊框顏色改變 */
  outline: none;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize .Spexcushion_specialWidth {
  width: 10%;
  height: auto;
  font-size: 24px;
  text-align: center;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize .Spexcushion_specialHeigh {
  width: 10%;
  height: auto;
  font-size: 24px;
  text-align: center;
}
.Spex_cushion .chkcontent_11th .Spexcushiongroup .Spexcushion_specialsize .Spexcushion_notice {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.Spex_seatbase .chkcontent_12th {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup {
  visibility: hidden;
  height: 0;
  width: 100%;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title .Spexseatbase_title {
  display: flex;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  height: 50%;
  width: 100%;
  font-weight: 700;
  margin: 2px 1px;
  align-items: center;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title .Spexseatbase_title .SpexSeatBase {
  margin: 12px 16px;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 0 5px 0 0px;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_WH {
  display: flex;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  margin: 2px 4px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_Width {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  width: 40%;
  display: inline-block;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size div {
  font-size: 18px;
  font-weight: 800;
  margin: 4px;
}
.Spex_seatbase .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_Heigh {
  padding: 3px;
  margin: 2px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  width: 40%;
  display: inline-block;
}

.car-other {
  visibility: hidden;
}
.car-other .target .chkcontent_nth {
  width: 100%;
}
.car-other .target .chkcontent_nth .subtitle {
  width: 100%;
  height: 36px;
}/*# sourceMappingURL=index.css.map */