@charset "UTF-8";
/* 手機直屏時隱藏 */
@media screen and (orientation: portrait) {
  .rightcontent {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .container .Title {
    font-weight: 800;
    font-size: 30px;
  }
  .container .totalPrice {
    top: 55px;
    right: 10px;
    padding: 6px 12px;
    font-size: 30px;
  }
  .basesize {
    flex-direction: row;
    height: 100%;
  }
  .basesize .Seat-widthgroup {
    width: 50%;
    flex-direction: column;
    padding: 0px 1px;
    border-bottom: 0px;
  }
  .basesize .Seat-widthgroup .width_cmCount {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .basesize .Seat-widthgroup .width_cmCount .width_number {
    flex-direction: column;
    width: 50%;
  }
  .basesize .Seat-widthgroup .width_cmCount .width_chkblock {
    flex-direction: column;
    width: 50%;
  }
  .basesize .Seat-widthgroup .width_chkblock #SWC_checkbox {
    margin: 17px 31px 18px 10px;
  }
  .basesize .Seat-deepgroup {
    width: 50%;
    height: auto;
    flex-direction: column;
    border-left: 3px dashed black;
    padding: 0px 1px;
  }
  .basesize .Seat-deepgroup .seat-deep {
    height: 61px;
  }
  .basesize .Seat-deepgroup .deep_cmCount {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .basesize .Seat-deepgroup .deep_number {
    flex-direction: column;
    width: 50%;
  }
  .basesize .Seat-deepgroup .deep_chkblock {
    flex-direction: column;
    width: 50%;
  }
  .basesize .Seat-deepgroup .deep_chkblock #SdC_checkbox {
    margin: 17px 31px 18px 10px;
  }
}
@media screen and (max-width: 650px) {
  html,
  body {
    overflow: hidden;
  }
  .totalPrice {
    bottom: 10px;
    left: 10px;
    top: auto;
    padding: 8px 8px;
    font-size: 18px;
    display: inline-block;
    max-width: 200px;
  }
  .container {
    min-height: 1300px;
  }
  .container .Title {
    font-weight: 900;
    font-size: 20px;
  }
  .container .leftcontent {
    width: 100%;
  }
  .subtitle {
    font-size: 12px !important;
  }
  .subtitle .subtitle_2 {
    font-size: 9px !important;
  }
  .checklist {
    width: 100%;
    overflow-y: auto;
    /* 允許垂直滾動 */
    scroll-behavior: smooth;
    max-height: 850px;
    /* 設定高度 */
    overflow-x: hidden;
    /* 禁止水平滾動 */
    padding-right: 2px;
    /* 增加右側間距 */
  }
  /* 修改滾動條寬度 */
  .checklist::-webkit-scrollbar {
    width: 4px;
    /* 調整滾動條寬度 */
  }
  /* 滾動條軌道（背景） */
  .checklist::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* 淺灰色背景 */
    border-radius: 8px;
    /* 圓角 */
  }
  /* 滾動條滑塊 */
  .checklist::-webkit-scrollbar-thumb {
    background: #888;
    /* 深灰色滑塊 */
    border-radius: 10px;
    /* 圓角 */
  }
  /* 滑鼠懸停時變色 */
  .checklist::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /*-----  1.車體顏色手機板  -----*/
  .car-order .target .chkcontent_1st .car_color .cherry_red {
    width: 100%;
  }
  .car-order .target .chkcontent_1st .car_color .pearl_orange {
    width: 100%;
  }
  .car-order .target .chkcontent_1st .car_color .rose_gold {
    width: 100%;
  }
  .car-order .target .chkcontent_1st .car_color .sky_blue {
    width: 100%;
  }
  .car-order .target .chkcontent_1st .car_color .camo_gray {
    width: 100%;
  }
  /*-----  2.座板尺寸手機板  -----*/
  .car-seat {
    margin: 0px 0px 8px 0px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-widthgroup {
    border-bottom: 0px dashed black;
    width: 50%;
    height: 100%;
    padding: 0px 3px 0px 1px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-widthgroup .seat-width {
    font-size: 12px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-widthgroup .width_cmCount .width_number {
    margin: 0px 0px 0px 5px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-widthgroup .width_cmCount .width_number .generated_SWdiv {
    padding: 5px;
    font-size: 20px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-widthgroup .width_cmCount .width_chkblock #SWC_checkbox {
    margin: 17px 10px 13px 0px;
    transform: scale(2);
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-deepgroup {
    width: 50%;
    height: 100%;
    padding: 0px 3px 0px 3px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-deepgroup .seat-deep {
    font-size: 12px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-deepgroup .deep_cmCount .deep_number {
    margin: 0px 0px 0px 8px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-deepgroup .deep_cmCount .deep_number .generated_Sddiv {
    font-size: 20px;
    padding: 5px;
  }
  .car-seat .target .chkcontent_2nd .basesize .Seat-deepgroup .deep_cmCount .deep_chkblock #SdC_checkbox {
    margin: 17px 11px 13px 0px;
    transform: scale(2);
  }
  .car-seat .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  3.腳架點擊列手機板  -----*/
  .car-tripod .chkcontent_3rd .tripodgroup {
    padding: 0px 1px 0px 0px;
  }
  .car-tripod .chkcontent_3rd .tripodgroup .degrees {
    margin: 2px;
    font-size: 15px;
    padding: 1px;
  }
  .car-tripod .chkcontent_3rd .tripodgroup .degrees #checkbox_77degrees {
    margin: 4px 0px 2px 3px;
    transform: scale(1.5);
  }
  .car-tripod .chkcontent_3rd .tripodgroup .degrees #checkbox_80degrees {
    margin: 4px 0px 2px 3px;
    transform: scale(1.5);
  }
  .car-tripod .chkcontent_3rd .tripodgroup .degrees #checkbox_90degrees {
    margin: 4px 0px 2px 3px;
    transform: scale(1.5);
  }
  .car-tripod .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  4.踏板樣式點擊列手機板  -----*/
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .div_type {
    font-size: 15px;
    height: 100%;
    width: 20%;
    padding: 0 1px 0 3px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .div_twopiece_angle {
    font-size: 14px;
    height: 100%;
    width: 68%;
    margin: 0px 2px 0 1px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .div_twopiece_angle .twopiece_anglefixed {
    height: 50%;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .div_twopiece_angle .twopiece_angleadjust {
    height: 50%;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .footpedal_checkbox1 {
    flex: 1;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .footpedal_checkbox1 #checkbox_twopiece_fixed {
    flex: 1;
    margin: 10px 1px 8px 0px;
    transform: scale(1.5);
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_twopiece .footpedal_checkbox1 #checkbox_twopiece_adjustable {
    flex: 0.8;
    margin: 10px 1px 8px 0px;
    transform: scale(1.5);
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .div_type {
    font-size: 18px;
    height: 100%;
    width: 20%;
    padding: 0 0 0 6px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .div_angleadjust {
    font-size: 17px;
    width: 27%;
    height: 100%;
    padding: 0px 0 0 1px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .pedalcmcmgroup {
    width: 39%;
    height: 100%;
    margin: 0 0px 0 2px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .pedalcmcmgroup .pedalcm {
    font-size: 16px;
    margin: 0px 0px 1px 0;
    height: 100%;
    width: 100%;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .footpedal_checkbox2 {
    margin: 0px 1px 0 5px;
    flex: 1;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_piecealuminum .footpedal_checkbox2 .content-checkbox {
    margin: 17.5px 1px 10px px;
    transform: scale(1.5);
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .div_type {
    border-radius: 5px;
    font-size: 18px;
    height: 100%;
    width: 20%;
    padding: 0 0px 0 5px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .div_angle {
    width: 38%;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .div_angle .div_pedalsize {
    font-size: 13px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .div_pedal_direction {
    font-size: 15px;
    height: 100%;
    width: 29%;
    margin: 0px 0px 0px 2px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .footpedal_checkbox3 {
    flex: 1;
    margin: 0 8px 0 0;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_Plugin .footpedal_checkbox3 .content-checkbox {
    margin: 10px 0 10px 10px;
    transform: scale(1.5);
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .div_type {
    border-radius: 5px;
    font-size: 18px;
    height: 100%;
    width: 20%;
    padding: 0 1px 0 5px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .div_angle {
    width: 40%;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .div_angle .div_pedalsize {
    font-size: 14px;
    margin: 0px 1px 3px 0px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .div_pedal_direction {
    font-size: 15px;
    height: 100%;
    width: 28%;
    margin: 0px 0px 1px 0px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .footpedal_checkbox4 {
    flex: 1;
    margin: 0 6px 0 0px;
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .footpedal_plumb .footpedal_checkbox4 .content-checkbox {
    margin: 10px 0 10px 8px;
    transform: scale(1.5);
  }
  .car-footpedal .target .chkcontent_4th .footpedalgroup .div_notice {
    font-size: 12px;
    font-weight: 700;
  }
  .car-footpedal .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  5.頭靠子系統手機板  -----*/
  .car-head_supports .chkcontent_5th .head_supportsgroup {
    padding: 0px 10px 1px 3px;
    width: calc(100% - 11px);
  }
  .car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_font {
    margin: 5px 0px 0px 0px;
    padding: 1px 1px 1px 6px;
    width: 40%;
    font-size: 14px;
  }
  .car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_size {
    width: 40%;
    font-size: 14px;
    margin: 2px 0 0px 0px;
    padding: 3px 6px 1px 0px;
  }
  .car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_checkbox {
    margin: 17px 9px 0 0px;
    padding: 0px;
  }
  .car-head_supports .chkcontent_5th .head_supportsgroup .head_supports_checkbox .content-checkbox {
    transform: scale(1.5);
  }
  .car-head_supports .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  6.軀幹子系統-背靠點擊列手機板  -----*/
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .Nova_back_hardware_title {
    padding: 1px 0px 0px 0px;
    font-size: 15px;
    margin: 0px 1px 0 0;
    width: 40%;
  }
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_sizegroup {
    width: 50%;
  }
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_sizegroup .back_size {
    font-size: 17px;
    height: 100%;
    padding: 1px;
    margin: 0px 1px 2px 0px;
  }
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_supports_checkbox {
    margin: 0px 5px 0px 4px;
  }
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .back_supportsgroup .back_supports_checkbox .content-checkbox {
    margin: 13px 0px 18px 0px;
    transform: scale(1.5);
  }
  .car-back_supports .target .chkcontent_6th .trunk_suppotrts_back .div_notice {
    padding: 1px 0 1px 1px;
    font-size: 14px;
  }
  .car-back_supports .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  7.軀幹子系統-軀幹側支撐點擊列手機板  -----*/
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .Novalateralhardware_title {
    height: 100%;
    font-size: 14px;
    padding: 0px 1px 0px 5px;
    margin: 2px 1px 0px 1px;
    width: 25%;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizegroup {
    height: 100%;
    margin: 2px 1px 0px 1px;
    width: 30%;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizegroup .side_size {
    font-size: 16px;
    margin: 0px 0px 1px 0px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup {
    width: 35%;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup {
    height: 50%;
    margin: 0px 5px 0px 6px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup .side_SLR1 {
    font-size: 18px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeSgroup .side_SLR2 {
    font-size: 18px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup {
    height: 50%;
    margin: 2px 5px 0px 6px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup .side_MLR1 {
    font-size: 18px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .side_sizeSMgroup .side_sizeLgroup .side_MLR2 {
    font-size: 18px;
  }
  .car-latertrunk_supports .target .chkcontent_7th .trunk_suppotrts_LaterTrunk .side_supportgroup .latertrunk_checkboxes .content-checkbox {
    margin: 13px 0px 9px 0px;
    transform: scale(1.5);
  }
  .car-latertrunk_supports .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  8.底座子系統-座板點擊列手機版  -----*/
  .car-seatbase .target .chkcontent_8th .seatbasegroup .seat_supportsgroup .Nova_seatbase_title {
    font-size: 16px;
    width: 35%;
    padding: 0px 1px 0px 2px;
    margin: 1px 1px 1px 1px;
  }
  .car-seatbase .target .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_sizegroup {
    width: 55%;
    height: 100%;
  }
  .car-seatbase .target .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_sizegroup .seatbase_size {
    font-size: 16px;
    margin: 1px 0px 1px 0px;
    padding: 1px;
    height: 12%;
  }
  .car-seatbase .target .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_checkbox {
    margin: -1px 7px 0px 6px;
    height: 100%;
  }
  .car-seatbase .target .chkcontent_8th .seatbasegroup .seat_supportsgroup .seatbase_checkbox .content-checkbox {
    margin: 12px 0px 6px 0px;
    transform: scale(1.5);
  }
  .car-seatbase .target .chkcontent_8th .div_notice {
    font-size: 13px;
  }
  .car-seatbase .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  9.底座子系統-座墊點擊列手機版  -----*/
  .car-cushion .target .chkcontent_9th .cushiongroup {
    padding: 0px 1px 2px 3px;
    width: 100%;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .Nova_cushiontitle {
    height: 100%;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .cushiongroup_typegroup {
    width: 70%;
    margin: 0 0px 1px 3px;
    height: 100%;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .cushiongroup_typegroup .cushion_type {
    font-size: 15px;
    height: 33%;
    margin: 1px 1px 1px 0px;
    padding: 0px;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .cushiongroup_typegroup .cushion_typeC {
    font-size: 13px;
    height: 34%;
    margin: 1px 1px 1px 0px;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .cushion_checkbox {
    margin: 2px 7px 0px 7px;
  }
  .car-cushion .target .chkcontent_9th .cushiongroup .cushion_checkbox .content-checkbox {
    transform: scale(1.5);
  }
  .car-cushion .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  10.綁帶子系統點擊列  -----*/
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps_title {
    font-size: 15px;
    width: 30%;
    padding: 1px 0px 0px 5px;
    margin: 1px 1px 1px 0;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps {
    width: 60%;
    margin: 0 1px 0 0;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .chest_straps_font {
    font-size: 15px;
    padding: 1px 0px 0px 1px;
    margin: 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup {
    height: 100%;
    margin: 1px 0 2px 0;
    width: 100%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .chest_straps_font_2 {
    font-size: 13px;
    padding: 0px 0px 0px 1px;
    margin: 1px;
    width: 60%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size {
    width: 40%;
    height: 100%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size .chest_straps_font_2s {
    font-size: 16px;
    padding: 0px 1px 0px 1px;
    margin: 1px 1px 1px 1px;
    height: 50%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps .Xchest_strapsgroup .Xchest_straps_size .chest_straps_font_2b {
    font-size: 16px;
    margin: 1px 1px 0 1px;
    height: 50%;
    padding: 0px 1px 0px 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps_checkbox {
    margin: 0 3px 0px 4px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .chest_strapsgroup .chest_straps_checkbox .content-checkbox {
    margin: 7px 0px 6px 2px;
    transform: scale(1.5);
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup {
    margin: 1px 0 1px 0;
    height: 100%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt_title {
    font-size: 15px;
    height: 100%;
    width: 30%;
    padding: 0px 1px 0px 5px;
    margin: 1px 1px 1px 0px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt {
    height: 100%;
    width: 60%;
    margin: 0 5px 0 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .standard_pelvic_belt {
    height: 35%;
    font-size: 16px;
    padding: 1px 1px 1px 4px;
    margin: 1px 1px 2px 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup {
    height: 65%;
    width: 100%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt {
    font-size: 13px;
    padding: 1px 1px 1px 1px;
    margin: 1px;
    width: 80%;
    height: 100%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size {
    height: 100%;
    width: 25%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size .pointpelvic_belt_fonts {
    font-size: 14px;
    padding: 1px 1px 1px 1px;
    margin: 1px;
    height: 50%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt .pointpelvic_beltgroup .pointpelvic_belt_size .pointpelvic_belt_fontb {
    font-size: 14px;
    padding: 1px 1px 1px 1px;
    margin: 1px;
    height: 50%;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .pelvic_beltgroup .pelvic_belt_checkbox .content-checkbox {
    margin: 11px 0px 7px 1px;
    transform: scale(1.5);
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup {
    margin: 1px 0 1px 0;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup .calf_band {
    font-size: 15px;
    width: 30%;
    padding: 0px 0px 0px 0px;
    margin: 2px 2px 1px 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup .calf_font {
    font-size: 12px;
    width: 60%;
    padding: 1px 1px 1px 2px;
    margin: 2px 6px 1px 0px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_bandgroup .content-checkbox {
    margin: 14px 0px 8px 1px;
    transform: scale(1.5);
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup {
    margin: 1px 0 1px 0;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup .calf_cuff {
    font-size: 15px;
    width: 30%;
    padding: 1px 1px 1px 5px;
    margin: 2px 2px 2px 1px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup .calf_font {
    font-size: 14px;
    width: 60%;
    padding: 1px 1px 1px 1px;
    margin: 2px 2px 2px 0px;
  }
  .car-bandage .target .chkcontent_10th .bandagegroup .Shoulder_chest_strapsgroup .calf_cuffgroup .content-checkbox {
    margin: 10px 0px 8px 5px;
    transform: scale(1.5);
  }
  .car-bandage .target .pricecontent .pricing {
    font-size: 11px;
  }
  .Spex_area {
    width: calc(100% - 12px) !important;
    font-size: 12px !important;
  }
  /*-----  11.Spex底座子系統-座墊點擊列  -----*/
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title {
    padding: 1px 0px 0px 5px;
    margin: 1px 1px 1px 0;
    width: 50%;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    align-items: flex-start;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title .SpexCushion {
    margin: 11px 1px 0px 10px;
    transform: scale(1.5);
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title .cushion-label {
    flex-direction: column;
    gap: 0px;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_title .Spexcushion_title .cushion-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size {
    width: 50%;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize {
    flex-direction: column;
    align-items: center;
    height: 75%;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH {
    margin: 0 5px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    /* 控制間距，可依需求調整 */
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Width {
    font-size: 15px;
    width: 85%;
    height: auto;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH div {
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_WH .Spexcushion_Heigh {
    font-size: 15px;
    width: 85%;
    height: auto;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 12px;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_Basicssize .Spexcushion_color .Spexcushion_colorsel {
    font-size: 12px;
    width: 50%;
    height: auto;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_specialsize {
    height: 25%;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_specialsize .Spexcushion_specialsizenotice .Spexcushion_specialWidth {
    font-size: 9px;
    width: 25%;
    height: auto;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_specialsize .Spexcushion_specialsizenotice div {
    font-size: 10px;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_specialsize .Spexcushion_specialsizenotice .Spexcushion_specialHeigh {
    font-size: 9px;
    width: 25%;
    height: auto;
  }
  .Spex_cushion .target .chkcontent_11th .Spexcushiongroup .Spexcushiongroup_size .Spexcushion_specialsize .Spexcushion_notice {
    font-size: 9px;
    line-height: 2;
  }
  .Spex_cushion .target .pricecontent .pricing {
    font-size: 11px;
  }
  /*-----  12.Spex底座子系統-硬座板點擊列  -----*/
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title .Spexseatbase_title .SpexSeatBase {
    margin: 4px 11px 5px 11px;
    transform: scale(1.5);
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title .Spexseatbase_title .seatbase-label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 2px;
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_title .Spexseatbase_title .seatbase-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_WH {
    font-size: 10px;
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_WH .Spexseatbase_Width {
    width: 40%;
    font-size: 12px;
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_WH div {
    font-size: 11px;
    margin: 2px;
  }
  .Spex_seatbase .target .chkcontent_12th .Spexseatbasegroup .Spexseatbasegroup_size .Spexseatbase_WH .Spexseatbase_Heigh {
    width: 40%;
    font-size: 12px;
  }
  .Spex_seatbase .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*-----  13.Spex底座子系統-分腿器點擊列  -----*/
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthighgroup_title {
    width: 60%;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthighgroup_title .Spexmedialthigh_title .SpexMedialThigh {
    margin: 4px 11px 5px 11px;
    transform: scale(1.5);
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthighgroup_title .Spexmedialthigh_title .medialthigh-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthighgroup_title .Spexmedialthigh_title .medialthigh-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthigh_sizegroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthigh_sizegroup .Spexmedialthigh_size {
    height: 100%;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthigh_sizegroup .Spexmedialthigh_size .Spexmedialthigh_sel {
    font-size: 14px;
    width: 80%;
  }
  .Spex_medialthigh .target .chkcontent_13th .Spexmedialthighgroup .Spexmedialthigh_sizegroup .Spexmedialthigh_sizetable {
    visibility: hidden;
    height: 0%;
  }
  .Spex_medialthigh .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*-----  14.Spex底座子系統-扶手臀撐點擊列  -----*/
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighgroup_title {
    width: 40%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighgroup_title .Spexarmsuplatthigh_title .SpexArmSupLatThigh {
    margin: 4px 6px 5px 7px;
    transform: scale(1.5);
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighgroup_title .Spexarmsuplatthigh_title .armsuplatthigh-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighgroup_title .Spexarmsuplatthigh_title .armsuplatthigh-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_ArmSupLatThighgroup .Spexarmsuplatthigh_bucklesel {
    font-size: 10px;
    width: 95%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_ArmSupLatThighgroup .Spexarmsuplatthigh_armsupsel {
    font-size: 10px;
    width: 95%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_ArmSupLatThighgroup .Spexarmsuplatthigh_latthighsel {
    font-size: 10px;
    width: 95%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighcountgroup {
    display: flex;
    flex-direction: column;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighcountgroup label {
    font-size: 10px;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthighcountgroup #Spexarmsuplatthighcount {
    font-size: 12px;
    width: 80%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_armpadsize {
    display: flex;
    flex-direction: column;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_armpadsize .Spexarmsuplatthigh_armpadsel {
    width: 90%;
    font-size: 12px;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_armpadsize .armpadcountgroup {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_armpadsize .armpadcountgroup label {
    font-size: 12px;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_armpadsize .armpadcountgroup #armpadcount {
    font-size: 12px;
    width: 30%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_lateralpadsize {
    display: flex;
    flex-direction: column;
    gap: 1;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_lateralpadsize .Spexarmsuplatthigh_lateralpadsel {
    font-size: 12px;
    width: 90%;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_lateralpadsize .lateralpadgroup {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_lateralpadsize .lateralpadgroup label {
    font-size: 12px;
  }
  .Spex_armsup_latthigh .target .chkcontent_14th .Spexarmsuplatthighgroup .Spexarmsuplatthigh_padgroup .Spexarmsuplatthigh_lateralpadsize .lateralpadgroup #lateralpadcount {
    font-size: 12px;
    width: 30%;
  }
  .Spex_armsup_latthigh .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*-----  15.Spex軀幹子系統-背靠點擊列 -----*/
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupportsgroup_title .Spexbacksupports_title .SpexBackSupports {
    margin: 4px 11px 5px 11px;
    transform: scale(1.5);
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupportsgroup_title .Spexbacksupports_title .backsupports-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupportsgroup_title .Spexbacksupports_title .backsupports-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_WH {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 4px 5px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_WH .Spexbacksupports_Width {
    width: 90%;
    font-size: 16px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_WH div {
    font-size: 16px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_WH .Spexbacksupports_Heigh {
    width: 90%;
    font-size: 16x;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_color {
    font-size: 14px;
    width: 95%;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_backsize .Spexbacksupports_color .Spexbacksupports_colorsel {
    width: 50%;
    font-size: 14px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_specialsize {
    height: 15%;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_specialsize .Spexbacksupports_specialsizenotice .Spexbacksupports_specialWidth {
    padding: 5px;
    font-size: 10px;
    width: 35%;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_specialsize .Spexbacksupports_specialsizenotice div {
    font-size: 10px;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_specialsize .Spexbacksupports_specialsizenotice .Spexbacksupports_specialHeigh {
    padding: 5px;
    font-size: 10px;
    width: 35%;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .Spexbacksupports_product .Spexbacksupports_size .Spexbacksupports_specialsize .Spexbacksupports_notice {
    font-size: 9px;
    line-height: 2;
  }
  .Spex_backsupports .target .chkcontent_15th .Spexbacksupportsgroup .div_notice {
    font-size: 12px;
  }
  .Spex_backsupports .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*-----  16.Spex軀幹子系統-扣具 -----*/
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_adapta_titlegroup .adapta_hdware_title {
    font-size: 12px;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_adapta_titlegroup .Spexhardware_adapta_title {
    font-size: 12px;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_adapta_titlegroup .Spexhardware_adapta_title .SpexHardware {
    margin: 7px 4px 8px 10px;
    transform: scale(1.5);
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .org_hdware_title {
    font-size: 12px;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexhardware_org_title {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexhardware_org_title .SpexHardware {
    margin: 7px 4px 8px 10px;
    transform: scale(1.5);
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexdropmount_group .Spexhardware_org_title {
    font-size: 12px;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexdropmount_group .Spexhardware_org_title .SpexHardware {
    margin: 7px 4px 8px 10px;
    transform: scale(1.5);
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexdropmount_group .Spexhardware_org_title .hardware-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexdropmount_group .Spexhardware_org_title .hardware-label p {
    font-size: 12px;
    line-height: 1.4;
  }
  .Spex_hardware .target .chkcontent_16th .Spexhardwaregroup .Spexhardwaregroup_title .Spexhardware_titlegroup .Spexdropmount_group .dropmount_sizegroup .Spexdropmount_size {
    width: 60%;
    font-size: 12px;
  }
  .Spex_hardware .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*----- 17.Spex軀幹子系統-軀幹側支撐 -----*/
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .Spexlatertrunksupports_title {
    width: 25%;
    font-size: 12px;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .Spexlatertrunksupports_title .SpexLaterTrunkSupports {
    margin: 7px 6px 8px 7px;
    transform: scale(1.5);
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialcountgroup {
    width: 18%;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialcountgroup label {
    font-size: 12px;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialcountgroup #latertrunkaxialcount {
    width: 40%;
    font-size: 14px;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialpadthinknessgroup {
    width: 30%;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialpadthinknessgroup .latertrunkaxialpadgroup label {
    font-size: 12px;
    margin: 0 3px 0 0;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialpadthinknessgroup .latertrunkaxialpadgroup .latertrunkaxialpadtype {
    font-size: 12px;
    width: 6.5vh;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialpadthinknessgroup .latertrunkaxialclothpadgroup label {
    font-size: 12px;
    margin: 0 3px 0 0;
  }
  .Spex_latertrunksupports .target .chkcontent_17th .Spexlatertrunksupportsgroup .Spexlatertrunksupportsgroup_title .SpexlaterHardwaregroup .laterHardwaregroup .LaterTrunk_Axialgroup .latertrunkaxialpadthinknessgroup .latertrunkaxialclothpadgroup .latertrunkaxialclothpadtype {
    font-size: 12px;
    width: 6.5vh;
  }
  .Spex_latertrunksupports .target .pricecontent .pricing {
    margin: 3px 0px 3px 1px;
    font-size: 11px;
  }
  /*-----  n.其他點擊列  -----*/
  .car-other {
    visibility: hidden;
  }
  .car-other .target .chkcontent_nth {
    width: 100%;
  }
  .car-other .target .chkcontent_nth .subtitle {
    width: 100%;
    height: 28px;
  }
  .Quotation-div {
    width: 430px;
    height: 680px;
  }
  .Quotation-div .quotationheader h1 {
    font-size: 20px;
  }
  .Quotation-div .quotationheader h2 {
    font-size: 16px;
  }
  .Quotation-div .quotationSub .quotation-client-container label {
    font-size: 14px;
    font-weight: 800;
  }
  .Quotation-div .quotationSub .quotation-client-container input {
    font-size: 10px;
  }
  .Quotation-div .quotationSub .quotationTime {
    font-size: 12px;
  }
  .Quotation-div .quotationtable thead tr th {
    font-size: 14px;
  }
  .Quotation-div .quotationtable tbody tr td:first-child {
    font-weight: 700;
    font-size: 13px;
  }
  .Quotation-div .quotationtable tbody tr td:nth-child(2) {
    font-weight: 700;
    font-size: 12px;
  }
  .Quotation-div .quotationtable tbody tr td:nth-child(3) {
    font-weight: 700;
    font-size: 12px;
  }
  .Quotation-div .quotationtable tbody tr td table tr td:first-child {
    font-size: 13px;
  }
  .Quotation-div .quotationtable tbody tr td table tr td input {
    font-size: 11px;
  }
  .Quotation-div .quotationtable tbody .trnotice .sealtd {
    border: 0px;
  }
  .Quotation-div .quotationtable tbody .trnotice .sealtd .sealtextdiv {
    padding: 0px 0px 0px 0px;
    border-bottom: 2px solid black;
  }
}/*# sourceMappingURL=mobile.css.map */