@import "reset";
@import "quotation";
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    /* 讓文字和圖片向左對齊 */
    max-width: 1500px;
  }

  .leftcontent {
    width: 60%;
    /* 讓文字和圖片在小螢幕上都佔滿寬度 */
  }

  .rightcontent {
    width: 40%;
    /* 讓文字和圖片在小螢幕上都佔滿寬度 */
  }
}

.container {
  padding: 10px;
  background-color: $color-base-yellow;
  height: 6000px;
}

.content {
  display: flex;
  flex-direction: row;
}

.leftcontent {
  width: 60%;
}

.rightcontent {
  width: 40%;
  flex-wrap: wrap;
  position: relative;

  .imgblock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    margin: 20px auto;
  }

  #ProductImage {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
  }

  //總價浮動視窗
  .totalPrice {
    position: fixed;
    /* 固定在視窗 */
    top: 10px;
    /* 距離視窗頂部 20px */
    right: 10px;
    /* 距離視窗右側 20px */
    background-color: #ffffff;
    /* 背景色 */
    padding: 10px 20px;
    border: 1px solid #ccc;
    /* 邊框 */
    border-radius: 8px;
    /* 圓角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* 陰影 */
    font-size: 40px;
    /* 字體大小 */
    font-weight: 900;
    /* 字體加粗 */
    text-align: center;
    /* 文字置中 */
    color: #333;
    /* 文字顏色 */
  }
}

.nowprice {
  text-align: center;
  align-items: center;

  .dollarP {
    text-align: center;
    align-items: center;
  }
}

//取消勾選
.btnallcheckboxfalse {
  position: fixed;
  bottom: 10px;
  right: 110px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
}


//報價單
.btnoutputQuotation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
}

//列印
#printButton {
  visibility: hidden;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  font-size: 20px;
  width: 100px;
  font-weight: 800;
  border-radius: 8px;
}



.Title {
  margin: 5px;
  font-weight: 800;
  /*設定字體粗細*/
  font-size: 30px;
  /* 設定字體大小 */
  cursor: default;
}

.checklist {
  width: 100%;
}

.target {
  display: flex;

  .target_img {
    width: auto;
    height: 42px;
    cursor: default;
  }

  .target_img img {
    width: 40px;
  }

  .subtitle {
    display: flex;
    /* 使用 Flexbox */
    width: 100%;
    /* 設定寬度 */
    border-radius: 8px;
    /* 設定圓角半徑 */
    padding: 6px;
    /* 內邊距 */
    margin: 3px;
    text-align: left;
    background-color: #000000;
    /* 黑色背景 */
    color: #ffffff;
    /* 白色文字 */
    font-size: 18px;
    /* 設定字體大小 */
    font-weight: 600;
    /*設定字體粗細*/
    align-items: center;
    /* 垂直置中 */
    cursor: pointer;
  }

  .pricecontent {
    display: flex;
    flex-direction: column;
    /* 垂直排列 */
    width: auto;
    white-space: nowrap;
    /* 禁止自動換行 */

    .pricing {
      display: flex;
      /* 使用 Flexbox */
      width: 100%;
      /* 設定寬度 */
      height: auto;
      /* 設定高度 */
      border-radius: 8px;
      /* 設定圓角半徑 */
      padding: 6px;
      /* 內邊距 */
      margin: 3px 3px 3px 4px;
      text-align: center;
      /* 文字置中 */
      background-color: #363434e1;
      /* 黑色背景 */
      color: #ffffff;
      /* 白色文字 */
      font-size: 18px;
      /* 設定字體大小 */
      font-weight: 600;
      /*設定字體粗細*/
      align-items: center;
      /* 垂直置中 */
      justify-content: center;
      /* 水平置中 */
      //visibility:hidden;
      display: none;
    }

    .nowprice {
      //display: flex;
      /* 使用 Flexbox */
      // width: 100%;
      // /* 設定寬度 */
      // height: 90%;
      // /* 設定高度 */
      // background-color: #ffffffff;
      // color: #000000;
      // border-radius: 8px;
      // /* 設定圓角半徑 */
      // padding: 1px;
      // /* 內邊距 */
      // margin: 3px 3px 3px 4px;
      // text-align: center;
      // /* 文字置中 */
      // font-size: 20px;
      // /* 設定字體大小 */
      // font-weight: 500;
      // /*設定字體粗細*/
      // align-items: center;
      // /* 垂直置中 */
      // justify-content: center;
      // /* 水平置中 */
      // border: 1px solid black;
      display: none;
    }
  }
}

// 車體顏色
.chkcontent_1st {
  display: flex;
  flex-direction: column;
  width: 100%;

  .car_color {
    visibility: hidden;
    height: 0;

    .chkblock {
      display: flex;
      align-items: center;
      /* 垂直置中 */
      justify-content: center;
      /* 水平置中 */
      margin: 0 0 0 8px;
      flex: 0.5;
    }

    //第一個顏色車台
    .cherry_red {
      display: flex;
      /* 設置為 Flexbox */
      justify-content: space-between;
      /* 在主軸上均勻分布 */
      min-width: 19.2%;
      border: 2px solid $color-primary-red;
      /* 設定邊框寬度和顏色 */
      border-radius: 10px;
      /* 設定圓角半徑 */
      margin: 3px;
      /*外邊距*/
      padding: 0 0 0 6px;
      /* 內邊距 */
      align-items: center;

      /* 垂直置中 */
      .chkblock {
        input[type="checkbox"] {
          accent-color: #E50046;
        }
      }

      .red_car {
        flex: 1.5;
        /* 前兩個 div 佔用較多的空間 */
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 800;
        /*設定字體粗細*/
        padding: 8px 0px 8px 10px;
        border-radius: 5px;
        white-space: nowrap;
      }

      .img_red {
        border-radius: 0 8px 8px 0;
        /* 只設定右上及右下圓角半徑 */
        max-width: 100%;
        max-height: 100%;
        background-color: $color-base-yellow;
        /* 將圖片內顏色變回基底色再去生成需要的顏色*/
        flex: 1;
        /* 最後一個 div 寬度為前面的一半 */
        border-left: 50px solid transparent;
        /* 三角形右側的透明邊 */
        border-bottom: 50px solid $color-primary-red;
        /* 將上邊邊框設為白色，形成朝上的三角形 */
      }
    }

    //第二個顏色車台
    .pearl_orange {
      display: flex;
      /* 設置為 Flexbox */
      justify-content: space-between;
      /* 在主軸上均勻分布 */
      min-width: 19.2%;
      border: 2px solid $color-primary-orange;
      /* 設定邊框寬度和顏色 */
      border-radius: 10px;
      /* 設定圓角半徑 */
      margin: 3px;
      /*外邊距*/
      padding: 0 0 0 6px;
      /* 內邊距 */
      align-items: center;
      /* 垂直置中 */

      .chkblock {
        input[type="checkbox"] {
          accent-color: #EE7500;
        }
      }

      .orange_car {
        flex: 1.5;
        /* 前兩個 div 佔用較多的空間 */
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 800;
        /*設定字體粗細*/
        padding: 8px 0px 8px 10px;
        border-radius: 5px;
        white-space: nowrap;
      }

      .img_orange {
        border-radius: 0 8px 8px 0;
        /* 只設定右上及右下圓角半徑 */
        width: 100%;
        height: 100%;
        background-color: $color-base-yellow;
        /* 將圖片內顏色變回基底色再去生成需要的顏色*/
        flex: 1;
        /* 最後一個 div 寬度為前面的一半 */
        border-left: 50px solid transparent;
        /* 三角形右側的透明邊 */
        border-bottom: 50px solid $color-primary-orange;
        /* 將上邊邊框設為白色，形成朝上的三角形 */
      }
    }

    //第三個顏色車台
    .rose_gold {
      display: flex;
      /* 設置為 Flexbox */
      justify-content: space-between;
      /* 在主軸上均勻分布 */
      min-width: 19.2%;
      border: 2px solid $color-rose-pink;
      /* 設定邊框寬度和顏色 */
      border-radius: 10px;
      /* 設定圓角半徑 */
      margin: 3px;
      /*外邊距*/
      padding: 0 0 0 6px;
      /* 內邊距 */
      align-items: center;
      /* 垂直置中 */

      .chkblock {
        input[type="checkbox"] {
          accent-color: #F3AECC;
        }
      }

      .pink_car {
        flex: 1.5;
        /* 前兩個 div 佔用較多的空間 */
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 800;
        /*設定字體粗細*/
        padding: 8px 0px 8px 10px;
        border-radius: 5px;
        white-space: nowrap;
      }

      .img_pink {
        border-radius: 0 8px 8px 0;
        /* 只設定右上及右下圓角半徑 */
        width: 100%;
        height: 100%;
        background-color: $color-base-yellow;
        /* 將圖片內顏色變回基底色再去生成需要的顏色*/
        flex: 1;
        /* 最後一個 div 寬度為前面的一半 */
        border-left: 50px solid transparent;
        /* 三角形右側的透明邊 */
        border-bottom: 50px solid $color-rose-pink;
        /* 將上邊邊框設為白色，形成朝上的三角形 */
      }
    }

    //第四個顏色車台
    .sky_blue {
      display: flex;
      /* 設置為 Flexbox */
      justify-content: space-between;
      /* 在主軸上均勻分布 */
      min-width: 19.2%;
      border: 2px solid $color-light-blue;
      /* 設定邊框寬度和顏色 */
      border-radius: 10px;
      /* 設定圓角半徑 */
      margin: 3px;
      /*外邊距*/
      padding: 0 0 0 6px;
      /* 內邊距 */
      align-items: center;
      /* 垂直置中 */

      .chkblock {
        input[type="checkbox"] {
          accent-color: #2EA7E0;
        }
      }

      .blue_car {
        flex: 1.5;
        /* 前兩個 div 佔用較多的空間 */
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 800;
        /*設定字體粗細*/
        padding: 8px 0px 8px 10px;
        border-radius: 5px;
        white-space: nowrap;
      }

      .img_blue {
        border-radius: 0 8px 8px 0;
        /* 只設定右上及右下圓角半徑 */
        width: 100%;
        height: 100%;
        background-color: $color-base-yellow;
        /* 將圖片內顏色變回基底色再去生成需要的顏色*/
        flex: 1;
        /* 最後一個 div 寬度為前面的一半 */
        border-left: 50px solid transparent;
        /* 三角形右側的透明邊 */
        border-bottom: 50px solid $color-light-blue;
        /* 將上邊邊框設為白色，形成朝上的三角形 */
      }
    }

    //第五個顏色車台
    .camo_gray {
      display: flex;
      /* 設置為 Flexbox */
      justify-content: space-between;
      /* 在主軸上均勻分布 */
      min-width: 19.2%;
      border: 2px solid $color-deep-grey;
      /* 設定邊框寬度和顏色 */
      border-radius: 10px;
      /* 設定圓角半徑 */
      margin: 3px;
      /*外邊距*/
      padding: 0 0 0 6px;
      /* 內邊距 */
      align-items: center;
      /* 垂直置中 */

      .chkblock {
        input[type="checkbox"] {
          accent-color: #666666;
        }
      }

      .gray_car {
        flex: 1.5;
        /* 前兩個 div 佔用較多的空間 */
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 800;
        /*設定字體粗細*/
        padding: 8px 0px 8px 10px;
        border-radius: 5px;
        white-space: nowrap;
      }

      .img_gray {
        border-radius: 0 8px 8px 0;
        /* 只設定右上及右下圓角半徑 */
        width: 100%;
        height: 100%;
        background-color: $color-base-yellow;
        /* 將圖片內顏色變回基底色再去生成需要的顏色*/
        flex: 1;
        /* 最後一個 div 寬度為前面的一半 */
        border-left: 50px solid transparent;
        /* 三角形右側的透明邊 */
        border-bottom: 50px solid $color-deep-grey;
        /* 將上邊邊框設為白色，形成朝上的三角形 */
      }
    }
  }
}

// 座板尺寸
.chkcontent_2nd {
  display: flex;
  width: 100%;
  flex-direction: column;

  .basesize {
    visibility: hidden;
    height: 0;
    justify-content: flex-start;
  }

  .Seat-widthgroup {
    display: flex;
    width: 100%;
    height: 77px;
    border-bottom: 3px dashed black;

    .seat-width {
      //margin: 0 0 12px 0;
      background-color: rgb(31, 30, 30);
      color: #ffffff;
      text-align: center;
      /* 文字置中 */
      border: 2px solid black;
      /* 設定邊框寬度和顏色 */
      border-radius: 8px;
      /* 設定圓角半徑 */
      font-weight: 500;
      height: 65px;
    }
  }

  .Seat-deepgroup {
    display: flex;
    padding: 8px 2px 0px 0px;
    width: 100%;

    .seat-deep {
      //margin: 0 0 12px 0;
      background-color: rgb(31, 30, 30);
      color: #ffffff;
      text-align: center;
      /* 文字置中 */
      border: 2px solid black;
      /* 設定邊框寬度和顏色 */
      border-radius: 8px;
      /* 設定圓角半徑 */
      font-weight: 500;
      height: 65px;
    }
  }

}

.width_cmCount {
  display: flex;
  margin: 0 0 2px 2px;
  padding: 2px;
  flex-direction: column;

  .width_number {
    display: flex;
    height: 40%;
    flex-direction: row;
    /* 水平排列新增的 div */
    align-items: center;
    /* 水平置中 */

    .generated_SWdiv {
      margin: 5px 9px 5px 9px;
      padding: 10px 11px 10px 11px;
      font-weight: 500;
      border-radius: 8px;
      /* 設定圓角半徑 */
      text-align: center;
      /* 文字置中 */
      align-items: center;
      /* 水平置中 */
      justify-content: center;
      /* 垂直置中 */
      background-color: rgb(0, 0, 0);
      color: #ffffff;
    }
  }

  .width_chkblock {
    height: 50%;
    display: flex;
    align-items: center;
    /* 水平置中 */

    #SWC_checkbox {
      margin: 10px 23px 0px 22px;
      border-radius: 8px;
      /* 設定圓角半徑 */
      transform: scale(2.2);
    }
  }
}

.deep_cmCount {
  display: flex;
  margin: 0 0 2px 2px;
  padding: 2px;
  flex-direction: column;

  .deep_number {
    display: flex;
    height: 40%;
    flex-direction: row;
    /* 水平排列新增的 div */
    align-items: center;
    /* 水平置中 */

    .generated_Sddiv {
      margin: 5px 9px 5px 9px;
      padding: 10px 11px 10px 11px;
      font-weight: 500;
      border-radius: 8px;
      /* 設定圓角半徑 */
      text-align: center;
      /* 文字置中 */
      align-items: center;
      /* 水平置中 */
      justify-content: center;
      /* 垂直置中 */
      background-color: rgb(0, 0, 0);
      color: #ffffff;
    }
  }

  .deep_chkblock {
    height: 50%;
    display: flex;
    align-items: center;
    /* 水平置中 */

    #SdC_checkbox {
      margin: 10px 23px 0px 22px;
      border-radius: 8px;
      /* 設定圓角半徑 */
      transform: scale(2.2);
    }

  }
}

.smallblock {
  width: 60px;
  /* 設定寬度 */
  height: 50px;
  /* 設定高度 */
  background-color: #000000;
  /* 黑色背景 */
  color: #ffffff;
  /* 白色文字 */
}

// 腳架
.chkcontent_3rd {
  display: flex;
  width: 100%;
  flex-direction: column;

  .tripodgroup {
    visibility: hidden;
    height: 0;
    width: 100%;

    .degrees {
      flex-grow: 1;
      /* 平均分配空間 */
      text-align: center;
      /* 文字置中 */
      padding: 5px;
      /* 內邊距 */
      box-sizing: border-box;
      /* 包含 padding 和 border */
      font-size: 20px;
      font-weight: 600;

      input[name="car_tripod"] {
        margin: 3px;
      }
    }
  }
}


//踏板
.chkcontent_4th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .footpedalgroup {
    visibility: hidden;
    height: 0;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: column;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
  }

  //兩片式塑踏板
  .footpedal_twopiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 2px 0 1px 0;
    padding: 2px;

    .twopiece_anglefixed {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .twopiece_angleadjust {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //一片式鋁踏板
  .footpedal_piecealuminum {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 1px 0 1px 0;
    padding: 2px;
  }

  //外掛式腳踏組
  .footpedal_Plugin {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 1px 0 1px 0;
    padding: 2px;
  }

  //垂直調整腳踏組
  .footpedal_plumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 1px 0 2px 0;
    padding: 2px;
  }
}

.div_type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 0 2px 0 2px;
}

.div_twopiece_angle {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0 2px 0 0;
  padding: 1px;

  .twopiece_anglefixed {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 1px 1px 1px 1px;
  }

  .twopiece_angleadjust {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 1px 1px 1px 1px;
  }
}

.div_angle {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.div_angleadjust {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  width: 30%;
  height: 100%;
}

.div_pedalsize {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* 子元素平均分配高度 */
  border: 1px solid black;
  /* 添加邊框便於查看效果 */
  display: flex;
  /* 子元素內部內容置中 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.pedalcmcmgroup {
  display: flex;
  flex-direction: column;
  width: 34.5%;
  margin: 0 3px 1px 1px;

  .pedalcm {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 1px 0 1px 0;
    padding: 2px;
  }
}

.div_pedalsize {
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 1px 1px 1px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  /* 調整字體大小 */
  font-weight: 600;
  /* 調整字體粗細 */
  height: auto;
  margin: 2px 0 2px 0;
  padding: 2px;
}

.div_pedal_direction {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 3px 1px 1px;

  .div_direction {
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 1px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* 垂直置中 */
    font-size: 18px;
    /* 調整字體大小 */
    font-weight: 600;
    /* 調整字體粗細 */
    height: auto;
    margin: 2px 0 2px 0;
    padding: 2px;
  }
}

.footpedal_checkbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10%;
  flex: 1;
  padding: 1px 0 0 0;
}

.footpedal_checkbox2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
}

.footpedal_checkbox3 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
  //padding: 1px 0 0 0;
}

.footpedal_checkbox4 {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1;
}


.footpedal_checkbox1 input[type="checkbox"] {
  //accent-color: blue;
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 9px 2px 8px 2px;
}

.footpedal_checkbox2 input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 8.5px 2px 10px 2px;
}


.footpedal_checkbox3 input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 2px 9px 2px;
}

.footpedal_checkbox4 input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 2px 9px 2px;
}

//頭靠子系統
.chkcontent_5th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .head_supportsgroup {
    visibility: hidden;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: row;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
    height: 0;
    width: 100%;
  }
}

//軀幹子系統_背靠
.chkcontent_6th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .trunk_suppotrts_back {
    visibility: hidden;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: column;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
    height: 0;
    width: 100%;


    .back_supportsgroup {
      display: flex;
      flex-direction: row;

      .Nova_back_hardware_title {
        border: 1px solid #000000;
        border-radius: 7px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 25px;
        width: 40%;
        padding: 2px 1px 1px 3px;
        margin: 3px;
      }

      .back_sizegroup {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 3px 1px 1px;

        .back_size {
          border: 1px solid #000000;
          border-radius: 7px;
          margin: 1px 1px 3px 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 垂直置中 */
          font-size: 18px;
          /* 調整字體大小 */
          font-weight: 600;
          /* 調整字體粗細 */
          height: auto;
          padding: 2px;
        }
      }

      .back_supports_checkbox {
        display: flex;
        flex-direction: column;
        width: 5%;
        margin: 0px 6px 0px 6px;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.back_supports_checkbox input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 7.9px 0px 13.1px 0px;
}


//軀幹子系統_軀幹側支撐
.chkcontent_7th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .trunk_suppotrts_LaterTrunk {
    visibility: hidden;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: column;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
    height: 0;
    width: 100%;

    .side_supportgroup {
      display: flex;
      flex-direction: row;

      .Novalateralhardware_title {
        border: 1px solid #000000;
        border-radius: 7px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 25px;
        width: 40%;
        padding: 2px 1px 1px 3px;
        margin: 3px;
      }

      .side_sizegroup {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 2px 0 2px 0;

        .side_size {
          border: 1px solid #000000;
          border-radius: 7px;
          margin: 1px 1px 3px 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 垂直置中 */
          font-size: 18px;
          /* 調整字體大小 */
          font-weight: 600;
          /* 調整字體粗細 */
          height: 100%;
          padding: 3px 1px 3px;
        }
      }

      .side_sizeLRgroup {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2.5px 1px 2px 1px;


        .side_sizeLR {
          border: 1px solid #000000;
          border-radius: 7px;
          margin: 1px 1px 3px 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 垂直置中 */
          font-size: 18px;
          /* 調整字體大小 */
          font-weight: 600;
          /* 調整字體粗細 */
          height: auto;
          padding: 1px 5px 1px 5px;
        }
      }

      .latertrunk_checkboxes {
        display: flex;
        flex-direction: column;
        width: 5%;
        margin: 0px 6px 0px 6px;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.latertrunk_checkboxes input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 10px 3px 9.5px 3px;
}

.div_notice {
  border-top: 2px solid black;
  margin: 2px 0 1px 0;
  padding: 2px 0 1px 1px;
  font-size: 15px;
  font-weight: 600;
  background: #bebebe;
}

//底座子系統
.chkcontent_8th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .seatbasegroup {
    visibility: hidden;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: column;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
    height: 0;
    width: 100%;


    .seat_supportsgroup {
      display: flex;
      flex-direction: row;

      .Nova_seatbase_title {
        border: 1px solid #000000;
        border-radius: 7px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 25px;
        width: 40%;
        padding: 2px 1px 1px 3px;
        margin: 3px;
      }

      .seatbase_sizegroup {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 3px 1px 1px;

        .seatbase_size {
          border: 1px solid #000000;
          border-radius: 7px;
          margin: 1px 1px 3px 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          /* 垂直置中 */
          font-size: 18px;
          /* 調整字體大小 */
          font-weight: 600;
          /* 調整字體粗細 */
          height: auto;
          padding: 2px;
        }
      }

      .seatbase_checkbox {
        display: flex;
        flex-direction: column;
        width: 5%;
        margin: 0px 6px 0px 6px;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }

  }
}

.seatbase_checkbox input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 7.9px 0px 13.1px 0px;
}

//綁帶子系統
.chkcontent_9th {
  display: flex;
  width: 100%;
  flex-direction: column;

  .bandagegroup {
    visibility: hidden;
    // width: calc(100% - 8px);
    // display: flex;
    // flex-direction: column;
    // /* 讓子元素垂直排列 */
    // padding: 0px 1px 1px 3px;
    // border: 3px dashed black;
    // border-Top: none;
    // height: auto;
    // justify-content: space-between;
    height: 0;
    width: 100%;

    .Shoulder_chest_strapsgroup {
      display: flex;
      flex-direction: column;

      .chest_strapsgroup {
        display: flex;
        flex-direction: row;

        .chest_straps_title {
          border: 1px solid #000000;
          border-radius: 7px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 20px;
          width: 40%;
          padding: 2px 1px 1px 3px;
          margin: 3px;
        }

        .chest_straps {
          display: flex;
          flex-direction: column;
          width: 60%;

          .chest_straps_font {
            border: 1px solid #000000;
            border-radius: 7px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
            padding: 2px 1px 1px 3px;
            margin: 3px;
          }

          .Xchest_strapsgroup {
            display: flex;
            flex-direction: row;
            width: 100%;

            .chest_straps_font_2 {
              border: 1px solid #000000;
              border-radius: 7px;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              font-size: 20px;
              padding: 2px 1px 1px 3px;
              margin: 3px;
              width: 80%;
            }

            .Xchest_straps_size {
              display: flex;
              flex-direction: column;
              width: 30%;

              .chest_straps_font_2s {
                border: 1px solid #000000;
                border-radius: 7px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 20px;
                padding: 2px 1px 1px 3px;
                margin: 3px;
              }

              .chest_straps_font_2b {
                border: 1px solid #000000;
                border-radius: 7px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 20px;
                padding: 2px 1px 1px 3px;
                margin: 3px;
              }
            }
          }
        }

        .chest_straps_checkbox {
          display: flex;
          flex-direction: column;
        }
      }

      .pelvic_beltgroup {
        display: flex;
        flex-direction: row;

        .pelvic_belt_title {
          border: 1px solid #000000;
          border-radius: 7px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 20px;
          width: 40%;
          padding: 2px 1px 1px 3px;
          margin: 3px;
        }

        .pelvic_belt {
          display: flex;
          flex-direction: column;
          width: 60%;

          .standard_pelvic_belt {
            border: 1px solid #000000;
            border-radius: 7px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 20px;
            padding: 2px 1px 1px 3px;
            margin: 3px;
          }

          .pointpelvic_beltgroup {
            display: flex;
            flex-direction: row;
            width: 100%;

            .pointpelvic_belt {
              border: 1px solid #000000;
              border-radius: 7px;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 600;
              font-size: 20px;
              padding: 2px 1px 1px 3px;
              margin: 3px;
              width: 80%;
            }

            .pointpelvic_belt_size {
              display: flex;
              flex-direction: column;
              width: 30%;

              .pointpelvic_belt_fonts {
                border: 1px solid #000000;
                border-radius: 7px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 20px;
                padding: 2px 1px 1px 3px;
                margin: 3px;
              }

              .pointpelvic_belt_fontb {
                border: 1px solid #000000;
                border-radius: 7px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 20px;
                padding: 2px 1px 1px 3px;
                margin: 3px;
              }
            }
          }
        }

        .pelvic_belt_checkbox {
          display: flex;
          flex-direction: column;
        }
      }

      .calf_bandgroup {
        display: flex;
        flex-direction: row;

        .calf_band {
          border: 1px solid #000000;
          border-radius: 7px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 20px;
          width: 40%;
          padding: 2px 1px 1px 3px;
          margin: 3px;
        }

        .calfbandchk {
          margin: 0 5px 0 5px;
        }
      }

      .calf_cuffgroup {
        display: flex;
        flex-direction: row;

        .calf_cuff {
          border: 1px solid #000000;
          border-radius: 7px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 20px;
          width: 40%;
          padding: 2px 1px 1px 3px;
          margin: 3px;
        }

        .calfcuffchk {
          margin: 0 5px 0 5px;
        }
      }



      .calf_font {
        border: 1px solid #000000;
        border-radius: 7px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        width: 60%;
        padding: 2px 1px 1px 3px;
        margin: 3px;
      }
    }
  }
}

.chest_straps_checkbox input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 5px;
}

.pelvic_belt_checkbox input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 5px;
}

.calf_bandgroup input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 5px;
}

.calf_cuffgroup input[type="checkbox"] {
  //accent-color: rgb(255, 0, 0);
  /* 更改勾選顏色（現代瀏覽器支持） */
  margin: 12px 5px 12px 5px;
}