/* 手機直屏時隱藏 */
@media screen and (orientation: portrait) {
    .rightcontent {
        display: none;
    }
}

/*-----  1.車體顏色手機板  -----*/
.car_color {

    @media screen and (max-width:1100px) {}

    @media screen and (max-width:650px) {
        .cherry_red {
            width: 100%;
        }

        .pearl_orange {
            width: 100%;
        }

        .rose_gold {
            width: 100%;
        }

        .sky_blue {
            width: 100%;
        }

        .camo_gray {
            width: 100%;
        }
    }
}

// @media screen and (max-width: 1100px) {
//     // 隱藏原有的內部 div（紅色字部分）
//     .subtitle[data-showinfo="carbasesize"] > div {
//       display: none;
//     }
//     // 在 .subtitle 上添加偽元素，顯示新內容
//     .subtitle[data-showinfo="carbasesize"]::after {
//       content: "(...)";
//       font-size: 12px;
//       font-weight: 700;
//       color: red;
//       display: block; // 顯示為塊級元素（或 inline-block）
//       margin-top: 0.5em; // 可依需求調整間距
//     }
//   }


@media screen and (max-width:1100px) {
    .container {
        .Title {
            font-weight: 800;
            font-size: 30px;
        }

        .totalPrice {
            top: 55px;
            right: 10px;
            padding: 6px 12px;
            font-size: 30px;
        }
    }


    .basesize {
        flex-direction: row;
        height: 100%;

        .Seat-widthgroup {
            width: 50%;
            flex-direction: column;
            padding: 0px 1px;
            border-bottom: 0px;

            .width_cmCount {
                flex-direction: row;
                width: 100%;
                height: 100%;


                .width_number {
                    flex-direction: column;
                    width: 50%;
                }

                .width_chkblock {
                    flex-direction: column;
                    width: 50%;
                }
            }

            .width_chkblock {

                #SWC_checkbox {
                    margin: 17px 31px 18px 10px;
                }
            }
        }

        .Seat-deepgroup {
            width: 50%;
            height: auto;
            flex-direction: column;
            border-left: 3px dashed black;
            padding: 0px 1px;

            .seat-deep {
                height: 61px;
            }

            .deep_cmCount {
                flex-direction: row;
                width: 100%;
                height: 100%;
            }

            .deep_number {
                flex-direction: column;
                width: 50%;
            }

            .deep_chkblock {
                flex-direction: column;
                width: 50%;
            }

            .deep_chkblock {

                #SdC_checkbox {
                    margin: 17px 31px 18px 10px;
                }

            }
        }
    }
}

@media screen and (max-width:650px) {

    html,
    body {
        overflow: auto; // 確保可以滾動
    }

    .totalPrice {
        bottom: 10px;
        left: 10px;
        top: auto;
        padding: 8px 8px;
        font-size: 18px;
        display: inline-block;
        max-width: 200px;
    }

    .container {
        min-height: 1300px;

        .Title {
            font-weight: 900;
            font-size: 20px;
        }

        .leftcontent {
            width: 100%;
        }
    }

    .subtitle {
        font-size: 12px !important;

        .subtitle_2 {
            font-size: 9px !important;
        }
    }

    /*-----  2.座板尺寸手機板  -----*/
    .car-seat {
        margin: 0px;

        .target {
            .chkcontent_2nd {
                .basesize {
                    .Seat-widthgroup {
                        border-bottom: 0px dashed black;
                        width: 50%;
                        height: 100%;
                        padding: 0px 3px 0px 1px;

                        .seat-width {
                            font-size: 12px;
                        }

                        .width_cmCount {
                            .width_number {
                                .generated_SWdiv {
                                    padding: 5px;
                                }
                            }

                            .width_chkblock {
                                #SWC_checkbox {
                                    margin: 12.5px 4px 13px 9px;
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }

                    .Seat-deepgroup {
                        width: 50%;
                        height: 100%;
                        padding: 0px 3px 0px 3px;

                        .seat-deep {
                            font-size: 11px;
                        }

                        .deep_cmCount {
                            .deep_number {
                                .generated_Sddiv {
                                    padding: 5px;
                                }
                            }

                            .deep_chkblock {
                                #SdC_checkbox {
                                    margin: 12.5px 4px 13px 9px;
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    /*-----  3.腳架點擊列手機板  -----*/
    .car-tripod {
        .chkcontent_3rd {
            .tripodgroup {
                padding: 0px 1px 1px 1px;

                .degrees {
                    font-size: 13px;

                    #checkbox_77degrees {
                        margin: 2px 0px 2px 3px;
                        transform: scale(1.5);
                    }

                    #checkbox_80degrees {
                        margin: 2px 0px 2px 3px;
                        transform: scale(1.5);
                    }

                    #checkbox_90degrees {
                        margin: 2px 0px 2px 3px;
                        transform: scale(1.5);
                    }
                }
            }
        }

        .pricecontent {
            .pricing {
                font-size: 11px;
            }
        }
    }

    /*-----  4.踏板樣式點擊列手機板  -----*/
    .car-footpedal {
        .target {
            .chkcontent_4th {
                .footpedalgroup {
                    .footpedal_twopiece {
                        .div_type {
                            font-size: 15px;
                            height: 100%;
                            width: 20%;
                            padding: 0 1px 0 3px;
                        }

                        .div_twopiece_angle {
                            font-size: 14px;
                            height: 100%;
                            width: 65%;
                            margin: 0px 2px 0 1px;

                            .twopiece_anglefixed {
                                height: 50%;
                            }

                            .twopiece_angleadjust {
                                height: 50%;
                            }
                        }

                        .footpedal_checkbox1 {
                            flex: 1;

                            #checkbox_twopiece_fixed {
                                flex: 1;
                                margin: 10px 1px 8px 0px;
                                ;
                                transform: scale(1.5);
                            }

                            #checkbox_twopiece_adjustable {
                                flex: 0.8;
                                margin: 10px 1px 8px 0px;
                                ;
                                transform: scale(1.5);
                            }
                        }

                    }

                    .footpedal_piecealuminum {
                        .div_type {
                            font-size: 18px;
                            height: 100%;
                            width: 20%;
                            padding: 0 0 0 6px;
                        }

                        .div_angleadjust {
                            font-size: 17px;
                            width: 27%;
                            height: 100%;
                            padding: 0px 0 0 1px;
                        }

                        .pedalcmcmgroup {
                            width: 34%;
                            height: 100%;
                            margin: 0 3px 0 2px;

                            .pedalcm {
                                font-size: 16px;
                                margin: 1px 3px 1px 0;
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .footpedal_checkbox2 {
                            margin: 0px 1px 0 1px;
                            flex: 1;

                            .content-checkbox {
                                margin: 17.5px 1px 10px 10px;
                                transform: scale(1.5);
                            }
                        }
                    }

                    .footpedal_Plugin {
                        .div_type {
                            border-radius: 5px;
                            font-size: 18px;
                            height: 100%;
                            width: 20%;
                            padding: 0 0px 0 5px;
                        }

                        .div_angle {
                            width: 38%;

                            .div_pedalsize {
                                font-size: 13px;
                            }
                        }

                        .div_pedal_direction {
                            font-size: 15px;
                            height: 100%;
                            width: 24%;
                            margin: 0px 3px 0px 2px;
                        }

                        .footpedal_checkbox3 {
                            flex: 1;
                            margin: 0 2px 0 0;

                            .content-checkbox {
                                margin: 10px 0 10px 10px;
                                transform: scale(1.5);
                            }
                        }
                    }

                    .footpedal_plumb {
                        .div_type {
                            border-radius: 5px;
                            font-size: 18px;
                            height: 100%;
                            width: 20%;
                            padding: 0 1px 0 5px;
                        }

                        .div_angle {
                            width: 40%;

                            .div_pedalsize {
                                font-size: 14px;
                                margin: 0px 1px 3px 0px;
                            }
                        }

                        .div_pedal_direction {
                            font-size: 15px;
                            height: 100%;
                            width: 24%;
                            margin: 0px 1px 1px 0px;
                        }

                        .footpedal_checkbox4 {
                            flex: 1;
                            margin: 0 4px 0 4px;

                            .content-checkbox {
                                margin: 10px 0 10px 8px;
                                transform: scale(1.5);
                            }
                        }
                    }

                    .div_notice {
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    /*-----  5.頭靠子系統手機板  -----*/
    .car-head_supports {
        .chkcontent_5th {

            .head_supportsgroup {
                padding: 0px 10px 1px 3px;
                width: calc(100% - 11px);

                .head_supports_font {
                    margin: 5px 0px 0px 0px;
                    font-size: 16px;
                    padding: 0 1px 0 1px;
                    width: 35%;
                    font-size: 16px;
                }

                .head_supports_size {
                    width: 45%;
                    font-size: 16px;
                    margin: 5px 0 0px 0px;
                }

                .head_supports_checkbox {
                    margin: 17px 19px 0 0px;
                    padding: 0px;

                    .content-checkbox {
                        transform: scale(1.5);
                    }
                }

            }
        }

        .pricecontent {
            .pricing {
                font-size: 11px;
            }
        }
    }

    /*-----  6.軀幹子系統-背靠點擊列手機板  -----*/
    .car-back_supports {
        .target {
            .chkcontent_6th {
                .trunk_suppotrts_back {
                    .back_supportsgroup {
                        .Nova_back_hardware_title {
                            padding: 1px 0px 0px 0px;
                            font-size: 15px;
                            margin: 0px 1px 0 0;
                            width: 35%;
                        }

                        .back_sizegroup {
                            width: 47%;

                            .back_size {
                                font-size: 17px;
                                height: 100%;
                                padding: 1px;
                                margin: 0px 1px 2px 0px;
                            }
                        }

                        .back_supports_checkbox {
                            margin: 0px 5px 0px 4px;

                            .content-checkbox {
                                margin: 13px 0px 18px 0px;
                                transform: scale(1.5);
                            }
                        }
                    }

                    .div_notice {
                        padding: 1px 0 1px 1px;
                        font-size: 14px;
                    }
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    /*-----  7.軀幹子系統-軀幹側支撐點擊列手機板  -----*/
    .car-LaterTrunk_supports {
        .target {
            .chkcontent_7th {
                .trunk_suppotrts_LaterTrunk {
                    .side_supportgroup {
                        .Novalateralhardware_title {
                            height: 100%;
                            font-size: 14px;
                            padding: 0px 1px 0px 5px;
                            margin: 2px 1px 0px 1px;
                            width: 20%;
                        }

                        .side_sizegroup {
                            height: 100%;
                            margin: 2px 1px 0px 1px;
                            width: 25%;

                            .side_size {
                                font-size: 16px;
                                margin: 0px 0px 1px 0px;
                            }
                        }

                        .side_sizeSMgroup {
                            width: 35%;

                            .side_sizeSgroup {
                                height: 50%;
                                margin: 0px 1px 1px 1px;

                                .side_SLR1 {
                                    font-size: 18px;
                                }

                                .side_SLR2 {
                                    font-size: 18px;
                                }
                            }

                            .side_sizeLgroup {
                                height: 50%;
                                margin: 0px 1px 3px 1px;

                                .side_MLR1 {
                                    font-size: 18px;
                                }

                                .side_MLR2 {
                                    font-size: 18px;
                                }
                            }
                        }


                        .latertrunk_checkboxes {
                            .content-checkbox {
                                margin: 13px 0px 9px 0px;
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    /*-----  8.底座子系統點擊列手機版  -----*/
    .car-seatbase {
        .target {
            .chkcontent_8th {
                .seatbasegroup {
                    .seat_supportsgroup {
                        .Nova_seatbase_title {
                            font-size: 15px;
                            width: 30%;
                            padding: 0px 1px 0px 2px;
                            margin: 1px 1px 1px 1px;
                        }

                        .seatbase_sizegroup {
                            width: 50%;
                            height: 100%;

                            .seatbase_size {
                                font-size: 14px;
                                margin: 1px 0px 1px 0px;
                                padding: 1px;
                                height: 12%;
                            }
                        }

                        .seatbase_checkbox {
                            margin: -5px 7px 0px 6px;
                            height: 100%;

                            .content-checkbox {
                                margin: 18px 0px 11px 0px;
                                ;
                                transform: scale(1.5);
                            }
                        }
                    }
                }

                .div_notice {
                    font-size: 13px;
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    /*-----  9.綁帶子系統點擊列  -----*/
    .car-bandage {
        .target {
            .chkcontent_9th {
                .bandagegroup {
                    .Shoulder_chest_strapsgroup {
                        .chest_strapsgroup {
                            .chest_straps_title {
                                font-size: 15px;
                                width: 25%;
                                padding: 1px 0px 0px 5px;
                                margin: 1px 1px 1px 0;
                            }

                            .chest_straps {
                                width: 60%;
                                margin: 0 1px 0 0;

                                .chest_straps_font {
                                    font-size: 15px;
                                    padding: 1px 0px 0px 1px;
                                    margin: 1px;
                                }

                                .Xchest_strapsgroup {
                                    height: 100%;
                                    margin: 1px 0 2px 0;
                                    width: 100%;

                                    .chest_straps_font_2 {
                                        font-size: 13px;
                                        padding: 0px 0px 0px 1px;
                                        margin: 1px;
                                        width: 60%;
                                    }

                                    .Xchest_straps_size {
                                        width: 40%;
                                        height: 100%;

                                        .chest_straps_font_2s {
                                            font-size: 16px;
                                            padding: 0px 1px 0px 1px;
                                            margin: 1px 1px 1px 1px;
                                            height: 50%;
                                        }

                                        .chest_straps_font_2b {
                                            font-size: 16px;
                                            margin: 1px 1px 0 1px;
                                            height: 50%;
                                            padding: 0px 1px 0px 1px;
                                        }
                                    }
                                }
                            }

                            .chest_straps_checkbox {
                                margin: 0 3px 0px 4px;

                                .content-checkbox {
                                    margin: 18px 0px 11px 7px;
                                    ;
                                    transform: scale(1.5);
                                }
                            }
                        }

                        .pelvic_beltgroup {
                            margin: 1px 0 1px 0;
                            height: 100%;

                            .pelvic_belt_title {
                                font-size: 15px;
                                height: 100%;
                                width: 25%;
                                padding: 0px 1px 0px 5px;
                                margin: 1px 1px 1px 0px;
                            }

                            .pelvic_belt {
                                height: 100%;
                                width: 60%;
                                margin: 0 5px 0 1px;

                                .standard_pelvic_belt {
                                    height: 35%;
                                    font-size: 16px;
                                    padding: 1px 1px 1px 4px;
                                    margin: 1px 1px 2px 1px;
                                }

                                .pointpelvic_beltgroup {
                                    height: 65%;
                                    width: 100%;

                                    .pointpelvic_belt {
                                        font-size: 13px;
                                        padding: 1px 1px 1px 1px;
                                        margin: 1px;
                                        width: 63%;
                                        height: 100%;
                                    }

                                    .pointpelvic_belt_size {
                                        height: 100%;
                                        width: 35%;

                                        .pointpelvic_belt_fonts {
                                            font-size: 14px;
                                            padding: 1px 1px 1px 1px;
                                            margin: 1px;
                                            height: 50%;
                                        }

                                        .pointpelvic_belt_fontb {
                                            font-size: 14px;
                                            padding: 1px 1px 1px 1px;
                                            margin: 1px;
                                            height: 50%;
                                        }
                                    }
                                }
                            }

                            .pelvic_belt_checkbox {
                                .content-checkbox {
                                    margin: 18px 0px 11px 6px;
                                    ;
                                    transform: scale(1.5);
                                }
                            }
                        }

                        .calf_bandgroup {
                            margin: 1px 0 1px 0;

                            .calf_band {
                                font-size: 16px;
                                width: 25%;
                                padding: 0px 0px 0px 0px;
                                margin: 2px 2px 1px 1px;
                            }

                            .calf_font {
                                font-size: 14px;
                                width: 60%;
                                padding: 1px 1px 1px 2px;
                                margin: 2px 6px 1px 0px;
                            }

                            .content-checkbox {
                                margin: 14px 0px 9px 4px;
                                ;
                                transform: scale(1.5);
                            }
                        }

                        .calf_cuffgroup {
                            margin: 1px 0 1px 0;

                            .calf_cuff {
                                font-size: 16px;
                                width: 25%;
                                padding: 1px 1px 1px 5px;
                                margin: 2px 2px 2px 1px;
                            }

                            .calf_font {
                                font-size: 14px;
                                width: 60%;
                                padding: 1px 1px 1px 1px;
                                margin: 2px 5px 2px 0px;
                            }

                            .content-checkbox {
                                margin: 18px 0px 11px 6px;
                                ;
                                transform: scale(1.5);
                            }
                        }

                    }
                }
            }

            .pricecontent {
                .pricing {
                    font-size: 11px;
                }
            }
        }
    }

    .Quotation-div {
        width: 430px;
        height: 680px;

        .quotationheader {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 16px;
            }
        }

        .quotationSub {
            .quotation-client-container {
                label {
                    font-size: 14px;
                    font-weight: 800;
                }

                input {
                    font-size: 10px;
                }
            }

            .quotationTime {
                font-size: 12px;
            }
        }

        .quotationtable {
            thead {
                tr {
                    th {
                        font-size: 14px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        &:first-child {
                            // 選擇第一個 <td>
                            font-weight: 700;
                            font-size: 13px; // 設定字體大小
                        }

                        &:nth-child(2) {
                            // 選擇第 2 個 td{
                            font-weight: 700;
                            font-size: 12px; // 設定字體大小
                        }

                        &:nth-child(3) {
                            // 選擇第 2 個 td{
                            font-weight: 700;
                            font-size: 12px; // 設定字體大小
                        }
                    }
                }

                tr {
                    td {
                        table {
                            tr {
                                td {
                                    &:first-child {
                                        // 選擇第一個 <td>
                                        font-size: 13px;
                                    }

                                    input {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
                .trnotice{
                    .sealtd{
                        border: 0px;
                        .sealtextdiv{
                            padding: 0px 0px 0px 0px;
                            border-bottom: 2px solid black;
                        }
                    }

                }

            }
        }
    }
}