.Quotation-div {
  display: none;
  /* 初始為隱藏 */
  position: fixed;
  border: 3px solid #000;
  padding: 5px;
  // margin-top: 20px;
  background-color: #f9f9f9;
  top: 50%;
  /* 垂直居中 */
  left: 50%;
  /* 水平居中 */
  transform: translate(-50%, -50%);
  /* 向上和向左移動50%自己的寬度和高度 */
  width: 595px;
  height:  842px;
  z-index: 1000;
  /* 確保它顯示在其他元素之上 */
  overflow: auto; /* 啟用滾動條 */

  .watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // 讓圖片正中心對齊 QuotationDiv
    width: 50%; // 設定適當的寬度
    opacity: 0.15; // 設定透明度
    pointer-events: none; // 防止影響點擊事件
  }
}


.visible {
  display: block;
  /* 顯示 */
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #900;
}

.quotationheader {
  text-align: center;
  padding: 6px;
  color: white;

  h1 {
    font-size: 22px;
    color: #000;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000;

  }
}

.quotationSub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .quotation-client-container {
    display: flex;
    align-items: center;
    // margin: 3px;
    padding: 3px;


    label {
      font-size: 15px;
      font-weight: 700;
    }

    input {
      padding: 4px 0 1px 0;
      background-color: inherit;
      /* 背景色與外層一致 */
      border: 0px solid #ccc;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .quotationTime {
    font-size: 14px;
    font-weight: 600;
    // margin: 3px;
    padding: 3px 0 3px 0;
  }
}

// 表格樣式
.quotationtable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
  border: 2px solid black; // 表格的邊框樣式


  th,
  td {
    border: 2px solid black;
    padding: 4px;
    text-align: left;
  }

  th {
    background-color: #f5f5f5
  }

  table{
    border: 1px solid black; // 表格的邊框樣式
  }
 td.orgtd {
  padding: 0px;
  }
}



    